<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/scss/common-style.css">
    <link rel="stylesheet" href="css/header.css" type="text/css">
    <title>OTTP - FreeFoem Component</title>
</head>

<body>

    <section class="wrapper header_wrapper">
        <div class="header_wrapper_section">
            <div class="header_wrapper_descripion">
                <h2>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur quis nostrud exercitation ullamco laboris nisi ut aliquip</h2>
                <div class="header_wrapper_des_text">
                    <p>We believe our actions can create a lasting positive impact around the world Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. ex ea commodo consequat. Duis aute irure dolor in reprehenderi.</p>
                    <div class="header_wrapper_link"><a href="#" aria-label="Learn more">Learn more</a></div>
                </div>
            </div>
            <div class="header_wrapper_img" >
                <img src="images/Header_V1.jpg" class="header_desk_img" alt="Header_V1">
                <img src="images/Header_V1.jpg" class="header_mob_img" alt="Header_V1">
            </div>
        </div>
    </section>

    <section class="wrapper header_wrapper header_v1">
        <div class="header_wrapper_section">
            <div class="header_wrapper_descripion">
                <h2>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur quis nostrud exercitation ullamco laboris nisi ut aliquip</h2>
                <div class="header_wrapper_des_text">
                    <p>We believe our actions can create a lasting positive impact around the world Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. ex ea commodo consequat. Duis aute irure dolor in reprehenderi.</p>
                    <div class="header_wrapper_link"><a href="#" aria-label="Learn more">Learn more</a></div>
                </div>
            </div>
            <div class="header_wrapper_img" >
                <img src="images/Header_V1.jpg" class="header_desk_img" alt="Header_V1">
                <img src="images/Header_V1.jpg" class="header_mob_img" alt="Header_V1">
            </div>
        </div>
    </section>

    <script src="../Assets/js/jquery.min.js"></script>
    <script src="js/header.js"> </script>
</body>

</html>