/*** common css ***/
.blockquote_wrapper .blockquote_user_img {
    display: none;
}
.blockquote_wrapper .blockquote_section {
    text-align: center;
}
.blockquote_wrapper .blockquote_heading {
    padding-top: 100px;
    padding-bottom: 60px;
}
.blockquote_wrapper .blockquote_heading h2 {
    font-size: 32px;
    line-height: 1.3;
}
.blockquote_wrapper .blockquote_description p {
    font-size: 30px;
    line-height: 1.3;
    letter-spacing: -0.07px;
    position: relative;
    display: inline;
}
.blockquote_wrapper .blockquote_card {
    padding: 100px 0;
}
.blockquote_wrapper .blockquote_line {
    width: 161px;
    height: 2px;
    margin: 0 auto;
}
.blockquote_wrapper .blockquote_description {
    padding-top: 20px;
    padding-bottom: 48px;
}
.blockquote_wrapper .blockquote_user_name, .blockquote_wrapper .blockquote_user_designation {
    font-size: 16px;
    font-family: 'Montserrat-Bold';
    line-height: 1.5;
}
.blockquote_wrapper .blockquote_text {
    max-width: 890px;
    margin: 0 auto;
    padding: 0 40px;
}
.blockquote_v1_a .blockquote_user_name, .blockquote_v1_b .blockquote_user_name, .blockquote_v1_c .blockquote_user_name {
    font-size: 18px;
}
.blockquote_v1_a .blockquote_user_designation, .blockquote_v1_b .blockquote_user_designation, .blockquote_v1_c .blockquote_user_designation {
    font-family: 'Montserrat-Medium';
    font-size: 18px;
}
.blockquote_v1_a .blockquote_user, .blockquote_v1_b .blockquote_user, .blockquote_v1_c .blockquote_user {
    padding-bottom: 20px;
}
.blockquote_wrapper .blockquote_user_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}
.blockquote_wrapper .blockquote_description p:before {
    position: absolute;
    content: '';
    left: -30px;
    top: -10px;
    background-image: url('../images/start-quote.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}
.blockquote_wrapper .blockquote_description p:after {
    position: absolute;
    content: '';
    right: -35px;
    bottom: -10px;
    background-image: url('../images/end-quote.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px; 
}
.blockquote_v1_a .blockquote_card, .blockquote_v1_b .blockquote_card, .blockquote_v1_c .blockquote_card {
    padding-top: 0;
}
.blockquote_v1_a .blockquote_description p:before, .blockquote_v1_a .blockquote_description p:after, .blockquote_v1_b .blockquote_description p:before, .blockquote_v1_b .blockquote_description p:after, .blockquote_v1_c .blockquote_description p:before, .blockquote_v1_c .blockquote_description p:after {
    display: none;
}
.blockquote_v3_a .blockquote_description p, .blockquote_v3_b .blockquote_description p, .blockquote_v3_c .blockquote_description p {
    font-style: italic;
    color: #ffffff;
}
.blockquote_v3_a .blockquote_card, .blockquote_v3_b .blockquote_card, .blockquote_v3_c .blockquote_card {
    padding: 50px 10px;
    text-align: left;
}
.blockquote_v3_a .blockquote_description, .blockquote_v3_b .blockquote_description, .blockquote_v3_c .blockquote_description {
    padding-bottom: 30px;
}
.blockquote_v2_a .blockquote_content > .sm_container, .blockquote_v2_b  .blockquote_content > .sm_container {
    max-width: 1920px;
    padding: 0;
    margin: 0 auto;
}
.blockquote_v2_a .blockquote_card, .blockquote_v2_b .blockquote_card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0;
}
.blockquote_v2_a .blockquote_text, .blockquote_v2_b .blockquote_text {
    text-align: left;
    padding: 50px 80px;
}
.blockquote_v2_a .blockquote_description p, .blockquote_v2_b .blockquote_description p {
    font-style: italic;
}
.blockquote_v2_a .blockquote_user_img, .blockquote_v2_b .blockquote_user_img {
    display: block;
}
/*** common css end ***/

/*** version 1_a ****/
.blockquote_v1_a {
    background-color: #ffffff;
}
.blockquote_v1_a .blockquote_line {
    background-color: #EE1B3A;
}

/*** version 1_b ****/
.blockquote_v1_b {
    background-color: #DDF1F2;
}
.blockquote_v1_b .blockquote_line {
    background-color: #240B14;
}

/*** version 1_c ****/
.blockquote_v1_c {
    padding: 100px 0;
}
.blockquote_v1_c .blockquote_card {
    padding-bottom: 60px;
}
.blockquote_v1_c .blockquote_heading {
    padding-top: 60px;
    padding-bottom: 60px;
}
.blockquote_v1_c .blockquote_card, .blockquote_v1_c .blockquote_heading {
    background-color: #DDF1F2;
    padding-left: 45px;
    padding-right: 45px;
}
.blockquote_v1_c .blockquote_line {
    background-color: #240B14;
}

/*** version 3_a *****/
.blockquote_v3_a .blockquote_content {
    background-color: #E81132;
    color: #ffffff;
}
.blockquote_v3_c {
    background-color: #F7F7F7;
}
.blockquote_v3_c .blockquote_content {
    background-color: #fff;
    padding: 60px 0;
}
/*** version 3_b *****/
.blockquote_v3_b .blockquote_content {
    background-color: #240B14;
    color: #ffffff;
}
/*** version 3_c ***/
.blockquote_v3_c .blockquote_card {
    background-color: #240B14;
    color: #ffffff;
}

/** version 2_a **/
.blockquote_v2_a .blockquote_content {
    background-color: #e81132;
}
/* .blockquote_v2_a .blockquote_card {
    background-color: #E81132;
} */
.blockquote_v2_a .blockquote_description p , .blockquote_v2_a .blockquote_user {
    color: #fff;
}
/** version 2_b **/
.blockquote_v2_b .blockquote_content{
    background-color: #DDF1F2;
}
.blockquote_v2_b .blockquote_card {
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -o-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.blockquote_v2_b .blockquote_description p::before {
    background-image: url('../images/start-black-quote.svg');
}
.blockquote_v2_b .blockquote_description p::after {
    background-image: url('../images/end-black-quote.svg');
}

/*********media********/


@media screen and (max-width: 1199.98px) and (min-width: 991.98px) {
    .blockquote_wrapper .blockquote_heading {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .blockquote_wrapper .blockquote_heading h2 {
        font-size: 28px;
    }
    .blockquote_wrapper .blockquote_description p {
        font-size: 22px;
    }
    .blockquote_v1_a .blockquote_user_name, .blockquote_v1_b .blockquote_user_name, .blockquote_v1_c .blockquote_user_name, .blockquote_v1_a .blockquote_user_designation, .blockquote_v1_b .blockquote_user_designation, .blockquote_v1_c .blockquote_user_designation {
        font-size: 16px;
    }
    .blockquote_wrapper .blockquote_description {
        padding-bottom: 30px;
    }
    .blockquote_v2_a .blockquote_text, .blockquote_v2_b .blockquote_text {
        padding: 30px 50px;
    }
    .blockquote_v1_c {
        padding: 60px 0;
    }
    .blockquote_v1_a .blockquote_card, .blockquote_v1_b .blockquote_card, .blockquote_v1_c .blockquote_card {
        padding-bottom: 60px;
    }
}
@media screen and (max-width: 991.98px) and (min-width: 767.98px) {
    .blockquote_wrapper .blockquote_heading {
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .blockquote_wrapper .blockquote_heading h2 {
        font-size: 26px;
    }
    .blockquote_wrapper .blockquote_description p {
        font-size: 19px;
    }
    .blockquote_wrapper .blockquote_user_name, .blockquote_wrapper .blockquote_user_designation  {
        font-size: 15px;
    }
    .blockquote_wrapper .blockquote_description {
        padding-bottom: 25px;
    }
    .blockquote_wrapper .blockquote_description p:after, .blockquote_wrapper .blockquote_description p:before {
        height: 20px;
        width: 20px;
    }
    .blockquote_v2_a .blockquote_text, .blockquote_v2_b .blockquote_text {
        padding: 20px 45px;
    }
    .blockquote_v1_c {
        padding: 50px 0px;
    }
    .blockquote_v1_a .blockquote_heading, .blockquote_v1_b .blockquote_heading, .blockquote_v1_c .blockquote_heading {
        padding-bottom: 40px;
    }
    .blockquote_v3_c .blockquote_content {
        padding: 50px 0;
    }
    .blockquote_v1_a .blockquote_card, .blockquote_v1_b .blockquote_card, .blockquote_v1_c .blockquote_card {
        padding-bottom: 60px;
    }
    .blockquote_v1_c .blockquote_card, .blockquote_v1_c .blockquote_heading {
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media screen and (max-width: 767.98px) {
    .blockquote_wrapper .blockquote_user_name, .blockquote_wrapper .blockquote_user_designation {
        font-size: 14px;
    }
    .blockquote_wrapper .blockquote_heading {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .blockquote_wrapper .blockquote_description {
        padding-bottom: 30px;
    }
    .blockquote_wrapper .blockquote_text {
        padding: 0 15px;
    }
    .blockquote_v1_c .blockquote_card, .blockquote_v1_c .blockquote_heading {
        padding-left: 25px;
        padding-right: 25px;
    }
    .blockquote_v1_a .blockquote_text, .blockquote_v1_b .blockquote_text, .blockquote_v1_c .blockquote_text {
        padding: 0;
    }
    .blockquote_v3_c {
        background-color: #fff;
    }
    .blockquote_v3_c .blockquote_content {
        padding: 0;
    }
    .blockquote_v2_a .blockquote_card, .blockquote_v2_b .blockquote_card {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .blockquote_v2_a .blockquote_user_img, .blockquote_v2_b .blockquote_user_img {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%; 
    }
    .blockquote_v2_b .blockquote_card {
        -webkit-flex-direction: column-reverse;
        -moz-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        -o-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .blockquote_v2_a .blockquote_text, .blockquote_v2_b .blockquote_text {
        padding: 50px;
    }
    .blockquote_v1_c {
        padding: 30px 0;
    }
    .blockquote_v3_c .blockquote_card {
        padding-left: 30px;
        padding-right: 30px;
    }
    .blockquote_v1_a .blockquote_heading, .blockquote_v1_b .blockquote_heading, .blockquote_v1_c .blockquote_heading {
        padding-bottom:
         50px;
    }
    .blockquote_v1_a .blockquote_card, .blockquote_v1_b .blockquote_card, .blockquote_v1_c .blockquote_card {
        padding-bottom: 60px;
    }
    .blockquote_v1_a .blockquote_user_designation, .blockquote_v1_b .blockquote_user_designation, .blockquote_v1_c .blockquote_user_designation {
        font-size: 18px;
    }
}

@media screen and (max-width: 413.98px) {
    .blockquote_wrapper .blockquote_description p {
        font-size: 20px;
    }
    .blockquote_wrapper .blockquote_heading h2 {
        font-size: 25px;
    }
    .blockquote_wrapper .blockquote_heading {
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .blockquote_wrapper .blockquote_description p:after, .blockquote_wrapper .blockquote_description p:before {
        height: 20px;
        width: 20px;
    }
    .blockquote_v3_a .blockquote_card, .blockquote_v3_b .blockquote_card {
        padding: 40px 10px;
    }
    .blockquote_v1_c {
        padding: 20px 0px;
    }
    .blockquote_v1_a .blockquote_user_designation, .blockquote_v1_b .blockquote_user_designation, .blockquote_v1_c .blockquote_user_designation, .blockquote_v1_a .blockquote_user_name, .blockquote_v1_b .blockquote_user_name, .blockquote_v1_c .blockquote_user_name {
        font-size: 16px;
    }
    .blockquote_v1_c .blockquote_heading {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .blockquote_v1_a .blockquote_heading, .blockquote_v1_b .blockquote_heading {
        padding-bottom: 30px;
    }
    .blockquote_v1_c .blockquote_card {
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 374.98px) {
    .blockquote_wrapper .blockquote_description p {
        font-size: 18px;
    }
    .blockquote_wrapper .blockquote_heading h2 {
        font-size: 22px;
    }
}