@import '../../Assets/scss/globalvariables';

.fragment_wrapper{
    .fragment_block{
        h3{
            font-family: $bold_font;
            font-size: 32px;
            line-height: 1.3;
            color: $primary_color;
            margin-bottom: 20px;
            @include media-screen-breakpoint-between(lg, xl) {
                font-size: 28px;
            }
            @include media-screen-breakpoint-between(md, lg) {
                font-size: 24px;      
            }
            @include media-screen-breakpoint-down(xs) {
                font-size: 24px;
            }
            @include media-screen-breakpoint-down(xs) {
                font-size: 24px;
            }
        }
    .fragment_heading{
        text-align: left;
        margin-bottom: 60px;
        @include media-screen-breakpoint-down(xl) {
            margin-bottom: 30px;
        }
        @include media-screen-breakpoint-down(md) {
            margin-bottom: 40px;
        }
        @include media-screen-breakpoint-down(xs) {
            margin-bottom: 20px;
        }
        p{
            font-size: 18px;
            line-height: 1.6;
        }
    }
    .fragment_section{
        .fragment_descripion{
            h3 {
                margin-bottom: 24px;
                @include media-screen-breakpoint-between(md, lg) {
                    margin-bottom: 15px;  
                }
                @include media-screen-breakpoint-down(xs) {
                    margin-bottom: 15px;
                }
            }
            .fragment_des_text{
                p{
                    font-size: 18px;
                    font-family: $medium_font;
                    line-height: 1.6;
                    color: $primary_color;
                    @include media-screen-breakpoint-between(md, lg) {
                        font-size: 16px;
                    }
                    @include media-screen-breakpoint-down(xs) {
                        font-size: 16px;
                    }
                    @include media-screen-breakpoint-down(xxs) {
                        font-size: 14px;
                    }
                }
                .fragment_link{
                    margin-top: 24px;
                    @include media-screen-breakpoint-between(md, lg) {
                        margin-top: 15px;
                    }
                    @include media-screen-breakpoint-down(xs) {
                        margin-top: 15px;
                    }
                }
            }
            br{
                @include media-screen-breakpoint-down(md) {
                    display: none;
                }
            }
            .fragment_year {
                @include media-screen-breakpoint-down(md) {
                    display: inline-block;
                }
            }
        }
        .fragment_img{
            .fragment_img_desk{
                display: block;
                min-height: 320px;
                @include media-screen-breakpoint-down(md) {
                    display: none;
                }
              
            }
            .fragment_img_mob {
                display: none;
                @include media-screen-breakpoint-down(md) {
                    display: block;
                    width: 100%;
                }
                img{
                    @include media-screen-breakpoint-down(md) {
                        width: 100%;
                    }
                }
            }
        }

    }
}
&.fragment_v1{
    .fragment_section{
        .fragment_descripion{
            max-width: 83%;
            margin: 0 auto;
            background: $white_color;
            padding: 40px 20px;
            margin-top: -100px;
            position: relative;
            text-align: center;
            @include media-screen-breakpoint-down(md) {
                padding: 30px;
                text-align: left;
                max-width: 92%;
            }
            @include media-screen-breakpoint-down(xs) {
                padding: 20px;
            }
            .fragment_des_text {
                margin: 0 auto;
                max-width: 70%;
                @include media-screen-breakpoint-down(xl) {
                    max-width: 100%;
                }
            }
        }
    }
}

&.fragment_v2{
    .fragment_section{
        .fragment_descripion {
            max-width: 100%;
            padding: 40px 0px;
            margin: 0;
            text-align: left;
            @include media-screen-breakpoint-down(md) {
                padding: 20px 10px;
            }
            @include media-screen-breakpoint-down(xs) {
                padding: 20px 0;
            }
            p {
                padding: 0;
            }
        }
    }
}
&.fragment_v3a{
    background-color: $lightgray_color;
    .fragment_section {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: $white_color;
        padding: 40px;
        @include media-screen-breakpoint-between(lg, xl) {
            padding: 30px;
        }
        @include media-screen-breakpoint-down(md) {
            padding: 0;
            display: block;
        }
        .fragment_img {
            width: 33%;
            @include media-screen-breakpoint-between(md, lg) {
                width: 40%;            
            }
            @include media-screen-breakpoint-down(md) {
                width: 100%;
            }
            img {
                width: 100%;
            }            
        }
        .fragment_descripion {
            padding-left: 64px;
            width: 67%;
            @include media-screen-breakpoint-between(lg, xl) {
                padding-left: 30px;
            }
            @include media-screen-breakpoint-between(md, lg) {
                padding-left: 20px;
                width: 60%;          
            }
            @include media-screen-breakpoint-down(md) {
                padding: 30px 24px;
                width: 100%;
            }
            @include media-screen-breakpoint-down(xs) {
                padding: 30px 15px;
            }
        }
    }
}
&.fragment_v3b{
    background-color: $lightgray_color;
    .fragment_section {
        background: $white_color;
        padding: 80px 40px;
        @include media-screen-breakpoint-between(lg, xl) {
            padding: 30px;
        }
        @include media-screen-breakpoint-between(md, lg) {
            padding: 30px 20px;
        }
        @include media-screen-breakpoint-down(md) {
            padding: 0;
            display: block;
        }
        .fragment_descripion{
        @include media-screen-breakpoint-down(md) {
            padding: 30px 24px;
            width: 100%;
        }
        @include media-screen-breakpoint-down(xs) {
            padding: 30px 15px;
        }
    }
    }
}
&.fragment_pink{
    background-color:$white_color;
    .fragment_block{
    .fragment_section {
        background: $brand_color;
        .fragment_descripion{
            h3{
                color: $white_color;
            }
            p{
                color: $white_color;
            }
            a{
                color: $white_color;
            }
        }
    }
}
}
&.fragment_brown {
    background-color: $white_color;
    .fragment_block{
    .fragment_section {
        background: $primary_color;
        .fragment_descripion{
            h3{
                color: $white_color;
            }
            p{
                color: $white_color;
            }
            a{
                color: $white_color;
            }
        }
    }
}
}
}