<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fonts.css">
    <title>Line Chart</title>
</head>

<body>
    <div class="wrapper chartMainSection">
        <div class="sm_container">
            <div class="ChartContext">
                <h3>Data Line chart</h3>
                <p>As a global investor, we believe performance and purpose go hand in hand. We want to make
                    sure the investments we make create a better world, not just for our members and our
                    partners, but for everyone.</p>
                <a href="#" class="customLink">Learn more about our impact<span class="arrow_right"><img
                            src="images/Arrow-Right.svg" alt="Arrow Right" /></span></a>
            </div>
            <div class="ChartGraph">
                <div class="ChartGraphText">
                    <p>Line title</p>
                </div>
                <div>
                    <canvas id="lineChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="js/jquery.min.js"></script>
    <script src="js/Chart.bundle.min.js"></script>
    <script src="js/CustomChart.js"></script>
</body>

</html>