<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/fonts.css" type="text/css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/fragments.css" type="text/css">
    <title>OTTP - FreeFoem Component</title>
</head>

<body>
    <!-- Featured Report Section Starts here-->

    <section class="wrapper fragment_wrapper fragment_v1">
        <div class="sm_container">
            <div class="fragment_block">
                <div class="fragment_heading">
                    <h3>Content fragment Version 1</h3>
                </div>
                <div class="fragment_section">
                    <div class="fragment_img">
                        <img class="fragment_img_desk" src="images/steady-returns.jpg"
                            alt="Strong, steady returns for 30 years">
                        <img class="fragment_img_mob" src="images/steady_returns.jpg"
                            alt="Strong, steady returns for 30 years">
                    </div>
                    <div class="fragment_descripion">
                        <h3>Strong, steady returns for <br><span class="fragment_year">30 years</span></h3>
                        <div class="fragment_des_text">
                            <p>As a global investor, we believe performance and purpose go hand in hand. We want to make
                                sure the investments we make create a better world, not just for our members and our
                                partners, but for everyone.</p>
                            <div class="fragment_link"><a href="#" aria-label="Learn more how we servce teachers" class="customLink">Learn
                                    more
                                    about our impact<span class="arrow_right"> <img  src="images/Arrow-Right.svg"
                                        alt="Arrow Right"> </span></a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="wrapper fragment_wrapper fragment_v2">
        <div class="sm_container">
            <div class="fragment_block">
                <div class="fragment_heading">
                    <h3>Content fragment Version 2</h3>
                </div>
                <div class="fragment_section">
                    <div class="fragment_img">
                        <img class="fragment_img_desk" src="images/regional-strategy.jpg"
                            alt="Strong, steady returns for 30 years">
                        <img class="fragment_img_mob" src="images/regional_strategy.jpg"
                            alt="Strong, steady returns for 30 years">
                    </div>
                    <div class="fragment_descripion">
                        <h3>Our regional strategy</h3>
                        <div class="fragment_des_text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Aliquam
                                malesuada lectus nec ultricies pharetra. Donec iaculis dapibus consectetur. Morbi tempor
                                tellus et odio accumsan, sed vestibulum ante ornare. </p>
                            <div class="fragment_link"><a href="#" aria-label="Learn more" class="customLink">Learn more 
                                <span class="arrow_right">  <img  src="images/Arrow-Right.svg" alt="Arrow Right"></span> </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="wrapper fragment_wrapper fragment_v3a">
        <div class="sm_container">
            <div class="fragment_block">
                <div class="fragment_heading">
                    <h3>Content fragment Version 3a</h3>
                </div>
                <div class="fragment_section">
                    <div class="fragment_img">
                        <img class="fragment_img_desk" src="images/private-companies.jpg"
                            alt="Strong, steady returns for 30 years">
                        <img class="fragment_img_mob" src="images/private_companies.jpg"
                            alt="Strong, steady returns for 30 years">
                    </div>
                    <div class="fragment_descripion">
                        <h3>Achieving our board diversity target among private companies</h3>
                        <div class="fragment_des_text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                                malesuada lectus nec ultricies pharetra. Donec iaculis dapibus consectetur. Morbi tempor
                                tellus et odio accumsan, sed vestibulum ante ornare. </p>
                            <div class="fragment_link"><a href="#" aria-label="Learn more" class="customLink">Learn more
                                <span class="arrow_right"> <img src="images/Arrow-Right.svg" alt="Arrow Right"> </span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="wrapper fragment_wrapper fragment_v3b">
        <div class="sm_container">
            <div class="fragment_block">
                <div class="fragment_heading">
                    <h3>Content fragment Version 3b</h3>
                </div>
                <div class="fragment_section">
                    <div class="fragment_descripion">
                        <h3>Achieving our board diversity target among private companies</h3>
                        <div class="fragment_des_text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                                malesuada lectus nec ultricies pharetra. Donec iaculis dapibus consectetur. Morbi tempor
                                tellus et odio accumsan, sed vestibulum ante ornare. </p>
                            <div class="fragment_link"><a href="#" aria-label="Learn more" class="customLink">Learn more
                                <span class="arrow_right">  <img  src="images/Arrow-Right.svg" alt="Arrow Right"></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="wrapper fragment_wrapper fragment_v3a fragment_pink">
        <div class="sm_container">
            <div class="fragment_block">
                <div class="fragment_heading">
                    <h3>Content fragment Version 3a</h3>
                </div>
                <div class="fragment_section">
                    <div class="fragment_img">
                        <img class="fragment_img_desk" src="images/private-companies.jpg"
                            alt="Strong, steady returns for 30 years">
                        <img class="fragment_img_mob" src="images/private_companies.jpg"
                            alt="Strong, steady returns for 30 years">
                    </div>
                    <div class="fragment_descripion">
                        <h3>Achieving our board diversity target among private companies</h3>
                        <div class="fragment_des_text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                                malesuada lectus nec ultricies pharetra. Donec iaculis dapibus consectetur. Morbi tempor
                                tellus et odio accumsan, sed vestibulum ante ornare. </p>
                            <div class="fragment_link"><a href="#" aria-label="Learn more" class="customLink">Learn more
                                <span class="arrow_right"> <img  src="images/Arrow-Right-white.svg" alt="Arrow Right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="wrapper fragment_wrapper fragment_v3b fragment_pink">
        <div class="sm_container">
            <div class="fragment_block">
                <div class="fragment_heading">
                    <h3>Content fragment Version 3b</h3>
                </div>
                <div class="fragment_section">
                    <div class="fragment_descripion">
                        <h3>Achieving our board diversity target among private companies</h3>
                        <div class="fragment_des_text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                                malesuada lectus nec ultricies pharetra. Donec iaculis dapibus consectetur. Morbi tempor
                                tellus et odio accumsan, sed vestibulum ante ornare. </p>
                            <div class="fragment_link"><a href="#" aria-label="Learn more" class="customLink">Learn more
                                <span class="arrow_right"> <img  src="images/Arrow-Right-white.svg" alt="Arrow Right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="wrapper fragment_wrapper fragment_v3a fragment_brown">
        <div class="sm_container">
            <div class="fragment_block">
                <div class="fragment_heading">
                    <h3>Content fragment Version 3a</h3>
                </div>
                <div class="fragment_section">
                    <div class="fragment_img">
                        <img class="fragment_img_desk" src="images/private-companies.jpg"
                            alt="Strong, steady returns for 30 years">
                        <img class="fragment_img_mob" src="images/private_companies.jpg"
                            alt="Strong, steady returns for 30 years">
                    </div>
                    <div class="fragment_descripion">
                        <h3>Achieving our board diversity target among private companies</h3>
                        <div class="fragment_des_text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                                malesuada lectus nec ultricies pharetra. Donec iaculis dapibus consectetur. Morbi tempor
                                tellus et odio accumsan, sed vestibulum ante ornare. </p>
                            <div class="fragment_link"><a href="#" aria-label="Learn more" class="customLink">Learn more
                                <span class="arrow_right"><img class=" arrow_white" src="images/Arrow-Right-white.svg" alt="Arrow Right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="wrapper fragment_wrapper fragment_v3b fragment_brown">
        <div class="sm_container">
            <div class="fragment_block">
                <div class="fragment_heading">
                    <h3>Content fragment Version 3b</h3>
                </div>
                <div class="fragment_section">
                    <div class="fragment_descripion">
                        <h3>Achieving our board diversity target among private companies</h3>
                        <div class="fragment_des_text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                                malesuada lectus nec ultricies pharetra. Donec iaculis dapibus consectetur. Morbi tempor
                                tellus et odio accumsan, sed vestibulum ante ornare. </p>
                            <div class="fragment_link"><a href="#" aria-label="Learn more" class="customLink">Learn more
                                <span class="arrow_right"> <img   src="images/Arrow-Right-white.svg" alt="Arrow Right"> </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>