<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/common.css" type="text/css">
    <link rel="stylesheet" href="css/fonts.css" type="text/css">
    <link rel="stylesheet" href="css/map.css" type="text/css">
    <title>OTTP - FreeForm Blog Component</title>
</head>
<body>
    <!-- Info Section Starts here-->
    <section class="wrapper mapSectionMain">
            <div class="sm_container">
                <div class="MapInnerPanel">
                    <div class="mapTopDescriptionPanel">
                        <h3>Map V2</h3>
                        <p>As a global investor, we believe performance and purpose go hand in hand. We want to make sure the investments we make create a better world, not just for our members and our partners, but for everyone. </p>
                            <p><a href="#" aria-label="Learn more" class="customLink">Learn more about our impact<span class="arrow_right"><img src="images/Arrow-Right.svg" alt="Arrow Right"></span></a></p>
                    </div>


                </div>
        </div>
        <!-- Map Section Starts Here-->
        <div class="lactionPanel">
            <div class="mapFrame">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2690.9781480420197!2d-52.70951534855771!3d47.58766709717637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4b0ca3fb565a56e1%3A0xb507d43466533c86!2s10%20Elizabeth%20Ave%2C%20St.%20John&#39;s%2C%20NL%20A1A%205L4%2C%20Canada!5e0!3m2!1sen!2sin!4v1668506671162!5m2!1sen!2sin" width="100%" height="880" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="sm_container">
                <div class="mapDescriptionPanel">
                    <div class="leftPanel">
                        <div class="topDesc">
                            <p>TYPE, LOCATION</p>
                            <h4>Canada</h4>
                        </div>
                        <div class="middlePanel">
                            <p>TORONTO, ON – Building on over a decade of climate change efforts, Ontario Teachers’ Pension Plan Board (Ontario Teachers’) today announced its commitment.</p>
                        </div>
                        <div class="bottomPanel">
                            <p>By Author Name</p>
                            <p>
                                <span class="date">Date of post </span>
                                <span class="time">Reading time</span>
                            </p>
             
                        </div>
                        <p><a href="#" class="customLink" aria-label="Click here to learn more about our impact">Learn more <span class="arrow_right"><img src="images/Arrow-Right.svg" alt="Arrow Right"></span></a></p>
                    </div>
                    <div class="rightPanel">
                        <img src="images/funerarious.jpg" alt="An image of beauty salon">
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>
</html>