<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/scss/common-style.css" type="text/css">
    <link rel="stylesheet" href="css/map.css" type="text/css">
    <title>OTTP - FreeForm Blog Component</title>
</head>
<body>
    <!-- Info Section Starts here-->
    <section class="wrapper mapSectionMain">
            <div class="sm_container">
                <div class="MapInnerPanel">
                    <div class="mapTopDescriptionPanel">
                        <h3>Map V2</h3>
                        <p>As a global investor, we believe performance and purpose go hand in hand. We want to make sure the investments we make create a better world, not just for our members and our partners, but for everyone. </p>
                            <p><a href="#" aria-label="Learn more" class="customLink">Learn more about our impact<span class="arrow_right"><img src="images/Arrow-Right.svg" alt="Arrow Right"></span></a></p>
                    </div>


                </div>
        </div>
        <!-- Map Section Starts Here-->
        <div class="lactionPanel">
            <div class="mapFrame">
                <div id="map" class="mapFrame"></div>
            </div>

            <input type="hidden" id="addressLatitude" value="43.780022"/>
            <input type="hidden" id="addressLongitude" value="-79.41605"/>
            <input type="hidden" id="addressZoom" value="12"/>
            <input type="hidden" id="addressMinZoom" value="0"/>
         
            <div class="sm_container">
                <div class="mapDescriptionPanel">
                    <div class="leftPanel">
                        <div class="topDesc">
                            <p>TYPE, LOCATION</p>
                            <h4>Canada</h4>
                        </div>
                        <div class="middlePanel">
                            <p>TORONTO, ON – Building on over a decade of climate change efforts, Ontario Teachers’ Pension Plan Board (Ontario Teachers’) today announced its commitment.</p>
                        </div>
                        <div class="bottomPanel">
                            <p>By Author Name</p>
                            <p>
                                <span class="date">Date of post </span>
                                <span class="time">Reading time</span>
                            </p>
             
                        </div>
                        <p><a href="#" class="customLink" aria-label="Click here to learn more about our impact">Learn more <span class="arrow_right"><img src="images/Arrow-Right.svg" alt="Arrow Right"></span></a></p>
                    </div>
                    <div class="rightPanel">
                        <img src="images/funerarious.jpg" alt="An image of beauty salon">
                    </div>
                </div>
            </div>

        </div>
        
    </section>
    <script src="js/map.js"></script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaiaxvEN5N8JucAuwtkoFBef-nvoZkJq4&v=3.31&language=en&libraries=places,geometry&callback=createMaps"
    defer
  ></script>
</body>
</html>