<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>::OTP::</title>
        <link rel="stylesheet" href="css/fonts.css">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/table.css">
    </head>
    <body>
      <section class="wrapper table_wrapper">
          <div class="sm_container">
              <div class="table_header">
                  <h2>Responsive table component</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in oluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>

              <div class="responsive_table">
                  <div class="table_heading">Responsive table component V3</div>

                  <table class="custom_table left_aligned">
                      <thead>
                        <tr>
                          <th>Return type</th>
                          <th>Actual</th>
                          <th>Benchmark</th>
                          <th>Actual</th>
                          <th>Benchmark</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Total-fund net return</td>
                          <td>Lorem ipsum dolor sit amet,</td>
                          <td>sed do eiusmod tempor</td>
                          <td>sed do eiusmod tempor</td>
                          <td>sed do eiusmod tempor</td>
                        </tr>
                        <tr>
                          <td>benchmark return</td>
                          <td>consectetur adipiscing elit,</td>
                          <td>consectetur adipiscing elit,</td>
                          <td>consectetur adipiscing elit,</td>
                          <td>consectetur adipiscing elit,</td>
                        </tr>
                        <tr>
                          <td>Made-up return<sub>1</sub></td>
                          <td>sed do eiusmod tempor</td>
                          <td>sed do eiusmod tempor</td>
                          <td>sed do eiusmod tempor</td>
                          <td>sed do eiusmod tempor</td>
                        </tr>
                        <tr>
                          <td>Totals</td>
                          <td>abore et dolore magna aliqua</td>
                          <td>dolore eu fugiat</td>
                          <td>dolore eu fugiat</td>
                          <td>dolore eu fugiat</td>
                        </tr>
                        <tr>
                          <td>Made-up return<sub>1</sub></td>
                          <td>quis nostrud exercitation</td>
                          <td>quis nostrud exercitation</td>
                          <td>quis nostrud exercitation</td>
                          <td>quis nostrud exercitation</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </section>
      <script type="text/javascript" src="js/jquery.min.js"></script>
      <script type="text/javascript" src="js/table-custom.js"></script>
    </body>
</html>