<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>::OTP::</title>
        <link rel="stylesheet" href="css/common-style.css">
        <link rel="stylesheet" href="css/table.css">
    </head>
    <body style="margin: 0;">
      <section class="wrapper table_wrapper">
          <div class="sm_container">
              <div class="table_header">
                  <h3 class="table_title">Responsive table component</h3>
                  <p class="table_des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in oluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>

              <div class="responsive_table">
                  <div class="table_heading">Responsive table component V2</div>

                  <table class="custom_table">
                      <thead>
                        <tr>
                          <th>Return type</th>
                          <th>2020</th>
                          <th>2019</th>
                          <th>4-year</th>
                          <th>5-year</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Total-fund net return</td>
                          <td>8.6</td>
                          <td>7.6</td>
                          <td>8.6</td>
                          <td>8.6</td>
                        </tr>
                        <tr>
                          <td>benchmark return</td>
                          <td>10.7</td>
                          <td>12.4</td>
                          <td>9.1</td>
                          <td>9.1</td>
                        </tr>
                        <tr>
                          <td>Made-up return<sub>1</sub></td>
                          <td>10.7</td>
                          <td>12.4</td>
                          <td>9.1</td>
                          <td>9.1</td>
                        </tr>
                        <tr>
                          <td>Totals</td>
                          <td>10.7</td>
                          <td>12.4</td>
                          <td>9.1</td>
                          <td>9.1</td>
                        </tr>
                        <tr>
                          <td>Made-up return<sub>1</sub></td>
                          <td>10.7</td>
                          <td>12.4</td>
                          <td>9.1</td>
                          <td>9.1</td>
                        </tr>
                        <tr>
                          <td>Totals</td>
                          <td>10.7</td>
                          <td>12.4</td>
                          <td>9.1</td>
                          <td>9.1</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </section>
      <script type="text/javascript" src="../Assets/js/jquery.min.js"></script>
      <script type="text/javascript" src="js/table-custom.js"></script>
    </body>
</html>