.glossaryIntroSection {
  padding: 100px 0;
  background: #fff;
  margin-top: 60px;
  padding-top: 30px;
}
.glossaryIntroSection p {
  font-family: 'Montserrat-Medium';
  font-size: 18px;
  line-height: 1.6;
  color: #240B14;
  margin-top: 24px !important;
}
.redLink {
  color: #EE1B3A;
  font-family: 'Montserrat-Bold';
  text-decoration: none;
  display:inline-block;
}
.blueLink {
  color: #004B98;
  font-family: 'Montserrat-Bold';
  text-decoration: underline;
}
.wrapper a.blueLink:hover, .wrapper a.blueLink:focus {
  text-decoration: none;
}
.glossaryIntroSection .divider {
  border-top: 1px solid #ddd;
  margin:30px 0 0 0;
}
.glossarycontantBlock {
  margin-top: 30px;
}
strong {
  font-family: 'Montserrat-Bold';
}
/* START TOOLTIP STYLES */
.tooltip_txt[tooltip] {
  position: relative; /* opinion 1 */
  font-size: 16px;
  text-align:left;
  max-width:100%;
}
.tooltip_txt[tooltip]::before,
.tooltip_txt[tooltip]::after {
  text-transform: none; /* opinion 2 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
.tooltip_txt[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
.tooltip_txt[tooltip]::after {
  content: attr(tooltip); /* magic! */
  white-space: nowrap;
  padding: 10px 20px;
  background: #240B14;
  color: #fff;
  font-size: 16px;
  line-height: 1.3;
  font-family: 'Montserrat-Medium';
}

.glossaryInfoPanel {
  margin-bottom: 40px;
}
/* Make the tooltips respond to hover */
.tooltip_txt[tooltip]:hover::before,
.tooltip_txt[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
.tooltip_txt[tooltip='']::before,
.tooltip_txt[tooltip='']::after {
  display: none !important;
  transition:all 0.3s ease-in-out;
}

/* FLOW: UP */
.tooltip_txt[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #240B14;
}
.tooltip_txt[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
.tooltip_txt[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, 0);
}
/* FX All The Things */ 
.tooltip_txt[tooltip]:not([flow]):hover::before,
.tooltip_txt[tooltip]:not([flow]):hover::after,
.tooltip_txt[tooltip][flow^="up"]:hover::before,
.tooltip_txt[tooltip][flow^="up"]:hover::after {
animation: tooltips-vert 100ms ease-out forwards;
}
.tooltip_txt[tooltip][flow^="up"]:hover::before,
.tooltip_txt[tooltip]:not([flow]):hover::before {
  animation: tooltips-vert 100ms ease-out forwards;
}
.tooltip_txt[tooltip]:not([flow])::after, .tooltip_txt[tooltip][flow^="up"]::after {
  left: -20px;
  transform: translate(0%, 0);
}

.tooltip_txt[tooltip]:not([flow])::after, .tooltip_txt[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
.tooltip_txt[tooltip]:hover::before, .tooltip_txt[tooltip]:hover::after {
  display: block;
}
.tooltip_txt[tooltip]:not([flow])::before, .tooltip_txt[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #240B14;
}
/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: 1;
    transform: translate(20px, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 1;
    transform: translate(40px, 0);
  }
}

/* FX All The Things */ 
.tooltip_txt[tooltip]:not([flow]):hover::before,
.tooltip_txt[tooltip]:not([flow]):hover::after,
.tooltip_txt[tooltip][flow^="up"]:hover::before,
.tooltip_txt[tooltip][flow^="up"]:hover::after{
  animation: tooltips-vert 300ms ease-out forwards;
}

.tooltip_txt.tooltip_txt_right[tooltip]::after{
  left: auto;
  right: 64px;
}
.tooltip_bigtxt.tooltip_txt[tooltip]::after{
  white-space:normal;
}

/* end tooltip */
section.wrapper.glossaryAccordianPanel {
  margin-bottom: 60px;
}
.glossaryAccordianPanel ul.accordion-list {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin-top:10px;
    list-style: none;
  }
  .glossaryAccordianPanel ul.accordion-list li {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #D5D1D2 !important;
    cursor: pointer;
    border: none;
}
.glossaryAccordianPanel ul.accordion-list li a.active:after {
  transform: rotate(137deg);
  border-color: #EE1B3A;
}
  .glossaryAccordianPanel ul.accordion-list li a.active,
  .glossaryAccordianPanel ul.accordion-list li a:focus {
    color: #EE1B3A;
    text-decoration:none;
  }
  .glossaryAccordianPanel ul.accordion-list li a, .glossaryAccordianPanel .panel-title {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    font-family: 'Montserrat-Medium';
    cursor: pointer;
    padding-right: 0;
    line-height: 1.3;
    font-weight: normal;
  }
  .glossaryAccordianPanel .panel-title a {
    padding: 32px 0;
  }
  .glossaryAccordianPanel ul.accordion-list li a:hover {
    text-decoration:none;
  }
  .glossaryAccordianPanel ul.accordion-list li a:after{
    content: "";
    position: absolute;
    right: 0;
    top: 40px;
    box-sizing: border-box;
    height: 9px;
    width: 9px;
    border-style: solid;
    border-color: #240B14;;
    border-width: 2px 2px 0px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
  }

  .glossaryAccordianPanel ul.accordion-list li div.answer {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  .glossaryAccordianPanel ul.accordion-list li  p {
    position: relative;
    display: block;
    padding:0 0 24px 0;
    cursor: pointer;
  }
  .js .panel-title {
    margin: 0;
  }
  .glossaryAccordianPanel  .panel-title a {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    font-family: 'Montserrat-Medium';
    cursor: pointer;
    padding-right: 30px;
    line-height: 1.3;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: #240B14;
    text-decoration:none;
  }
  .panel-title a.active {
    color: #37474f;
  }
  strong {
      font-family: 'Montserrat-Bold';
  }

@media screen and (max-width:1299.98px) {
    .glossaryAccordianPanel a {
        font-size: 28px;
    }
    [tooltip]::after {
      content: attr(tooltip);
      white-space: initial;
      overflow: visible;
      text-overflow: unset;
      line-height: 1.2;
      min-width: 200px;
      font-size: 14px;
    }
}

@media screen and (max-width:1199.98px) and (min-width:991.98px) {

    .glossaryIntroSection p, .glossaryAccordianPanel p {
        font-size: 16px;
    }
    .glossaryAccordianPanel a {
        font-size: 24px;
    }
    .wrapper.glossaryAccordianPanel h3, .wrapper .glossaryInnerBlock h3 {
      font-size:28px;
    }
}
@media (min-width: 767.98px) and (max-width: 991.98px){ 
  .wrapper.glossaryAccordianPanel h3,  .wrapper .glossaryInnerBlock h3 {
    font-size:24px;
  }
  .glossaryIntroSection p, .glossaryAccordianPanel p {
    font-size: 16px;
}
}
@media screen and (max-width:767.98px) {
  .tooltip_txt[tooltip]::after {
    white-space: normal;
  }

}

@media screen and (max-width:413.98px) {
    .glossaryAccordianPanel p,  .glossaryIntroSection p {
        font-size: 16px;
    }  
    .wrapper.glossaryAccordianPanel h3,  .wrapper .glossaryInnerBlock h3 {
      font-size:24px;
    }
}