@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/** Colors **/
/** Font Family **/
/** Media Queries **/
.wrapper.parallaxImageSection h2 {
  font-size: 50px;
  line-height: 1.2;
  text-align: left;
  color: #240B14;
  margin-bottom: 80px;
}
@media screen and (min-width: 1299.98px) {
  .wrapper.parallaxImageSection h2 {
    margin-bottom: 50px;
  }
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .wrapper.parallaxImageSection h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 413.98px) {
  .wrapper.parallaxImageSection h2 {
    font-size: 32px;
  }
}
.wrapper.parallaxImageSection p {
  font-family: "Montserrat-Medium";
  font-size: 18px;
  line-height: 1.6;
  color: #240B14;
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .wrapper.parallaxImageSection p {
    font-size: 16px;
  }
}
@media screen and (max-width: 413.98px) {
  .wrapper.parallaxImageSection p {
    font-size: 16px;
  }
}
.wrapper.parallaxImageSection .descriptionPanel {
  margin-bottom: 60px;
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .wrapper.parallaxImageSection .descriptionPanel {
    margin-top: 0;
  }
}
.wrapper.parallaxImageSection .descriptionPanel h3 {
  color: #240B14;
  margin-bottom: 24px;
}
@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .wrapper.parallaxImageSection .descriptionPanel h3 {
    font-size: 28px;
  }
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .wrapper.parallaxImageSection .descriptionPanel h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 413.98px) {
  .wrapper.parallaxImageSection .descriptionPanel h3 {
    font-size: 24px;
  }
}
.wrapper.parallaxImageSection .descriptionPanel p {
  margin-bottom: 24px;
}
.wrapper.parallaxImageSection .mainInfoPanel {
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
}
@media screen and (max-width: 767.98px) {
  .wrapper.parallaxImageSection .mainInfoPanel {
    flex-flow: column-reverse;
    max-width: 100%;
  }
}
.wrapper.parallaxImageSection .mainInfoPanel .infoPanel {
  background: #DDF1F2;
  padding: 80px 67px 80px 67px;
  max-width: 580px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin-left: -67px;
  z-index: 99;
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  .wrapper.parallaxImageSection .mainInfoPanel .infoPanel {
    padding: 60px;
  }
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .wrapper.parallaxImageSection .mainInfoPanel .infoPanel {
    padding: 40px 30px;
    max-width: 460px;
  }
}
@media screen and (max-width: 767.98px) {
  .wrapper.parallaxImageSection .mainInfoPanel .infoPanel {
    margin: 0;
    padding: 30px;
    max-width: 100%;
  }
}
.wrapper.parallaxImageSection .mainInfoPanel .infoPanel h2 {
  margin-bottom: 20px;
  margin-top: 0;
  color: #28111A;
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  .wrapper.parallaxImageSection .mainInfoPanel .infoPanel h2 {
    font-size: 36px;
  }
}
@media screen and (max-width: 991.98px) {
  .wrapper.parallaxImageSection .mainInfoPanel .infoPanel h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 413.98px) {
  .wrapper.parallaxImageSection .mainInfoPanel .infoPanel h2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 767.98px) {
  .wrapper.parallaxImageSection .mainInfoPanel .infoPanel h2 br {
    display: none;
  }
}
.wrapper.parallaxImageSection .mainInfoPanel .infoPanel p {
  color: #240B15;
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .wrapper.parallaxImageSection .mainInfoPanel .infoPanel p {
    font-size: 16px;
  }
}
.wrapper.parallaxImageSection .mainInfoPanel .infoPanel p:last-child {
  margin-bottom: 0;
}
.wrapper.parallaxImageSection .mainInfoPanel .parallaxImagePanel {
  position: relative;
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  .wrapper.parallaxImageSection .mainInfoPanel .parallaxImagePanel {
    margin-left: 0;
    width: 57%;
    height: auto;
    flex: 0 0 57%;
  }
}
@media screen and (max-width: 767.98px) {
  .wrapper.parallaxImageSection .mainInfoPanel .parallaxImagePanel {
    position: relative;
    margin-bottom: -7px;
    width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .wrapper.parallaxImageSection .mainInfoPanel .parallaxImagePanel img {
    width: 100%;
  }
}
.wrapper.parallaxImageSection .visibleMob {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .wrapper.parallaxImageSection .visibleMob {
    display: block;
  }
}
.wrapper.parallaxImageSection strong {
  font-family: "Montserrat-Bold";
}
@media screen and (min-width: 767.98px) {
  .wrapper.parallaxImageSection.parallaxVTwo .mainInfoPanel {
    flex-flow: row;
  }
}
.wrapper.parallaxImageSection.parallaxVTwo .mainInfoPanel .infoPanel {
  margin-right: -67px;
  margin-left: 0;
}
@media screen and (max-width: 767.98px) {
  .wrapper.parallaxImageSection.parallaxVTwo .mainInfoPanel .infoPanel {
    margin-right: 0;
  }
}
.wrapper.parallaxImageSection.parallaxVThree .mainInfoPanel, .wrapper.parallaxImageSection.parallaxVFour .mainInfoPanel, .wrapper.parallaxImageSection.parallaxVFive .mainInfoPanel, .wrapper.parallaxImageSection.parallaxVSix .mainInfoPanel {
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 55px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1299.98px) {
  .wrapper.parallaxImageSection.parallaxVThree .mainInfoPanel, .wrapper.parallaxImageSection.parallaxVFour .mainInfoPanel, .wrapper.parallaxImageSection.parallaxVFive .mainInfoPanel, .wrapper.parallaxImageSection.parallaxVSix .mainInfoPanel {
    padding: 35px;
  }
}
@media screen and (max-width: 767.98px) {
  .wrapper.parallaxImageSection.parallaxVThree .mainInfoPanel, .wrapper.parallaxImageSection.parallaxVFour .mainInfoPanel, .wrapper.parallaxImageSection.parallaxVFive .mainInfoPanel, .wrapper.parallaxImageSection.parallaxVSix .mainInfoPanel {
    background-image: none !important;
    padding: 0;
  }
}
@media screen and (min-width: 767.98px) {
  .wrapper.parallaxImageSection.parallaxVThree .mainInfoPanel {
    flex-flow: row;
  }
}
@media screen and (max-width: 767.98px) {
  .wrapper.parallaxImageSection.parallaxVThree .mainInfoPanel {
    padding-left: 0;
    padding-right: 0;
  }
}
.wrapper.parallaxImageSection.parallaxVThree .mainInfoPanel .infoPanel {
  margin-right: 0;
  margin-left: 0;
  background: #FFFFFF;
}
@media screen and (max-width: 767.98px) {
  .wrapper.parallaxImageSection.parallaxVThree .mainInfoPanel .infoPanel {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0 !important;
  }
}
.wrapper.parallaxImageSection.parallaxVFour .mainInfoPanel {
  justify-content: flex-start;
}
.wrapper.parallaxImageSection.parallaxVFour .mainInfoPanel .infoPanel {
  margin-right: 0;
  margin-left: 0;
  background: #FFFFFF;
}
@media screen and (max-width: 767.98px) {
  .wrapper.parallaxImageSection.parallaxVFour .mainInfoPanel .infoPanel {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}
.wrapper.parallaxImageSection.parallaxVFive {
  margin-bottom: 160px;
}
.wrapper.parallaxImageSection.parallaxVFive .mainInfoPanel {
  padding-bottom: 0;
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .wrapper.parallaxImageSection.parallaxVFive .mainInfoPanel {
    padding: 40px 35px;
  }
}
.wrapper.parallaxImageSection.parallaxVFive .mainInfoPanel .infoPanel {
  background: #E81132;
  margin-top: 58px;
  padding: 80px 67px;
  margin-bottom: -90px;
  margin-left: 0;
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  .wrapper.parallaxImageSection.parallaxVFive .mainInfoPanel .infoPanel {
    padding: 60px !important;
  }
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .wrapper.parallaxImageSection.parallaxVFive .mainInfoPanel .infoPanel {
    margin-bottom: -70px;
  }
}
@media screen and (max-width: 767.98px) {
  .wrapper.parallaxImageSection.parallaxVFive .mainInfoPanel .infoPanel {
    margin-top: 0;
    padding: 30px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: -50px;
  }
}
@media screen and (max-width: 413.98px) {
  .wrapper.parallaxImageSection.parallaxVFive .mainInfoPanel .infoPanel {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.wrapper.parallaxImageSection.parallaxVFive .mainInfoPanel .infoPanel p,
.wrapper.parallaxImageSection.parallaxVFive .mainInfoPanel .infoPanel h2 {
  color: #FFFFFF;
}
@media screen and (max-width: 1299.98px) {
  .wrapper.parallaxImageSection.parallaxVFive .mainInfoPanel > .sm_container {
    padding: 0;
  }
}
.wrapper.parallaxImageSection.parallaxVFive .sm_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 991.98px) {
  .wrapper.parallaxImageSection.parallaxVFive .sm_container {
    padding: 0px 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .wrapper.parallaxImageSection.parallaxVFive .sm_container {
    display: flex;
    flex-flow: column-reverse;
  }
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .wrapper.parallaxImageSection.parallaxVFive {
    margin-bottom: 100px;
  }
}
.wrapper.parallaxImageSection.parallaxVSix {
  margin-bottom: 100px;
}
@media screen and (max-width: 767.98px) {
  .wrapper.parallaxImageSection.parallaxVSix {
    margin-bottom: 160px;
  }
}
.wrapper.parallaxImageSection.parallaxVSix .mainInfoPanel {
  padding-bottom: 0;
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .wrapper.parallaxImageSection.parallaxVSix .mainInfoPanel {
    padding: 40px 35px 40px 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .wrapper.parallaxImageSection.parallaxVSix .mainInfoPanel {
    padding-bottom: 0;
    padding: 0;
    margin: 0;
    background-image: none !important;
  }
}
.wrapper.parallaxImageSection.parallaxVSix .mainInfoPanel .infoPanel {
  background: #E81132;
  margin-top: 58px;
  padding: 80px 67px;
  margin-bottom: -90px;
  margin-left: 0;
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  .wrapper.parallaxImageSection.parallaxVSix .mainInfoPanel .infoPanel {
    padding: 60px !important;
  }
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .wrapper.parallaxImageSection.parallaxVSix .mainInfoPanel .infoPanel {
    margin-bottom: -70px;
  }
}
@media screen and (max-width: 767.98px) {
  .wrapper.parallaxImageSection.parallaxVSix .mainInfoPanel .infoPanel {
    margin-top: 0;
    padding: 30px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: -50px;
  }
}
@media screen and (max-width: 413.98px) {
  .wrapper.parallaxImageSection.parallaxVSix .mainInfoPanel .infoPanel {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.wrapper.parallaxImageSection.parallaxVSix .mainInfoPanel .infoPanel p,
.wrapper.parallaxImageSection.parallaxVSix .mainInfoPanel .infoPanel h2 {
  color: #FFFFFF;
}
@media screen and (max-width: 1299.98px) {
  .wrapper.parallaxImageSection.parallaxVSix .mainInfoPanel .sm_container {
    padding: 0;
  }
}
.wrapper.parallaxImageSection.parallaxVSix .sm_container {
  width: 100%;
}
@media screen and (max-width: 991.98px) {
  .wrapper.parallaxImageSection.parallaxVSix .sm_container {
    padding: 0px 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .wrapper.parallaxImageSection.parallaxVSix .sm_container {
    display: flex;
    flex-flow: column-reverse;
  }
}
@media screen and (max-width: 1599.98px) {
  .wrapper.parallaxImageSection {
    margin-top: 60px !important;
  }
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .wrapper.parallaxImageSection {
    margin: 0;
    padding-top: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .wrapper.parallaxImageSection {
    margin: 0;
    padding-top: 0;
  }
}
.wrapper.parallaxImageSection .convertedImage .desktop-image {
  display: none;
}/*# sourceMappingURL=parallax.css.map */