<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>::OTP::</title>
        <link rel="stylesheet" href="css/fonts.css">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/stats.css">
    </head>
    <body>

        <!-- stats v1 -->
        <section class="wrapper stats_wrapper stats-V1">
            <div class="sm_container">
                <div class="stats_header">
                    <h2 class="stats_header_heading">Data Infographic V1</h2>
                    <p>As a global investor, we believe performance and purpose go hand in hand. We want to make sure the investments we make create a better world, not just for our members and our partners, but for everyone.</p>
                    <a href="#" class="stats_link" aria-label="Click here to learn more about our impact">Learn more about our impact<span class="arrow_right"><img src="img/arrow-right.svg" alt="Arrow Right" /></span></a>
                </div>
  
                <div class="stats ">
                    <div class="custom_row">
                        <div class="column stats_block">
                              <div class="stats_block_inner">
                                  <div class="rowInner">
                                  <div class="stats_icon_main col-auto">
                                      <img src="img/target-scope.svg" class="stats_icon_v1" alt="CDPQ Return" />
                                      <img src="img/Target-Scope-v3.svg" class="stats_icon_v3" alt="Target Scope">
                                      <img src="img/Command-Mac-v4.svg" class="stats_icon_v4" alt="Command Mac">
                                  </div>
                                  <div class="colInner">
                                  <div class="stats_block_upper">
                                          <div class="stats_date">December 2022</div>
                                          <div class="stats_number">-7.9%</div>
                                  </div>
                                  <div class="stats_block_lower">
                                          <p class="stats_name">CDPQ return</p>
                                  </div>
                                  </div>
  
                                  </div>
                              </div>
                        </div>
  
                        <div class="column stats_block">
                          <div class="stats_block_inner">
                              <div class="rowInner">
                              <div class="stats_icon_main col-auto">
                                  <img src="img/command-mac.svg" class="stats_icon_v1" alt="CDPQ Return" />
                                  <img src="./img/Command-Mac-v3.svg" class="stats_icon_v3" alt="Target Scope">
                                  <img src="img/Circle-Check-v4.svg" class="stats_icon_v4" alt="Circle Check">
                              </div>
                              <div class="colInner">
                              <div class="stats_block_upper">
                                      <div class="stats_date">December 2022</div>
                                      <div class="stats_number">-7.9%</div>
                              </div>
                              <div class="stats_block_lower">
                                      <p class="stats_name">CDPQ return</p>
                              </div>
                              </div>
  
                              </div>
                          </div>
                    </div>
                    
  
                    <div class="column stats_block">
                      <div class="stats_block_inner">
                          <div class="rowInner">
                          <div class="stats_icon_main col-auto">
                              <img src="img/circle-check.svg" class="stats_icon_v1" alt="CDPQ Return" />
                              <img src="img/Circle-Check-v3.svg" class="stats_icon_v3" alt="Target Scope">
                              <img src="img/Command-Mac-v4.svg" class="stats_icon_v4" alt="Command Mac">
                          </div>
                          <div class="colInner">
                          <div class="stats_block_upper">
                                  <div class="stats_date">December 2022</div>
                                  <div class="stats_number">-7.9%</div>
                          </div>
                          <div class="stats_block_lower">
                                  <p class="stats_name">CDPQ return</p>
                          </div>
                          </div>
  
                          </div>
                      </div>
                </div>
                
  
                <div class="column stats_block">
                  <div class="stats_block_inner">
                      <div class="rowInner">
                      <div class="stats_icon_main col-auto">
                          <img src="img/star.svg" class="stats_icon_v1" alt="CDPQ Return" />
                          <img src="img/Star-v3.svg" class="stats_icon_v3" alt="Target Scope">
                          <img src="img/Command-Mac-v4.svg" class="stats_icon_v4" alt="Command Mac">
                      </div>
                      <div class="colInner">
                      <div class="stats_block_upper">
                              <div class="stats_date">December 2022</div>
                              <div class="stats_number">-7.9%</div>
                      </div>
                      <div class="stats_block_lower">
                              <p class="stats_name">CDPQ return</p>
                      </div>
                      </div>
  
                      </div>
                  </div>
            </div>
            
  
            <div class="column stats_block">
              <div class="stats_block_inner">
                  <div class="rowInner">
                  <div class="stats_icon_main col-auto">
                      <img src="img/expand-shape.svg" class="stats_icon_v1" alt="CDPQ Return" />
                      <img src="img/Target-Scope-v3.svg" class="stats_icon_v3" alt="Target Scope">
                      <img src="img/Command-Mac-v4.svg" class="stats_icon_v4" alt="Command Mac">
                  </div>
                  <div class="colInner">
                  <div class="stats_block_upper">
                          <div class="stats_date">December 2022</div>
                          <div class="stats_number">-7.9%</div>
                  </div>
                  <div class="stats_block_lower">
                          <p class="stats_name">CDPQ return</p>
                  </div>
                  </div>
  
                  </div>
              </div>
        </div>
        
  
        <div class="column stats_block">
          <div class="stats_block_inner">
              <div class="rowInner">
              <div class="stats_icon_main col-auto">
                  <img src="img/list-box.svg" class="stats_icon_v1" alt="CDPQ Return" />
                  <img src="img/Target-Scope-v3.svg" class="stats_icon_v3" alt="Target Scope">
                  <img src="img/Command-Mac-v4.svg" class="stats_icon_v4" alt="Command Mac">
              </div>
              <div class="colInner">
              <div class="stats_block_upper">
                      <div class="stats_date">December 2022</div>
                      <div class="stats_number">-7.9%</div>
              </div>
              <div class="stats_block_lower">
                      <p class="stats_name">CDPQ return</p>
              </div>
              </div>
  
              </div>
          </div>
    </div>
    
                        
                    </div>
                </div>
            </div>
        </section>

        <!-- end stats v1 -->

        <!-- stats v2 -->
        <section class="wrapper stats_wrapper stats-V2">
            <div class="sm_container">
                <div class="stats_header">
                    <h2 class="stats_header_heading">Data Infographic V2</h2>
                    <p>As a global investor, we believe performance and purpose go hand in hand. We want to make sure the investments we make create a better world, not just for our members and our partners, but for everyone.</p>
                    <a href="#" class="stats_link" aria-label="Click here to learn more about our impact">Learn more about our impact<span class="arrow_right"><img src="img/arrow-right.svg" alt="Arrow Right" /></span></a>
                </div>
    
                <div class="stats ">
                    <div class="custom_row">
                        <div class="column stats_block">
                                <div class="stats_block_inner">
                                    <div class="rowInner">
                                    <div class="stats_icon_main col-auto">
                                        <img src="img/target-scope.svg" class="stats_icon_v1" alt="CDPQ Return" />
                                        <img src="img/Target-Scope-v3.svg" class="stats_icon_v3" alt="Target Scope">
                                        <img src="img/Command-Mac-v4.svg" class="stats_icon_v4" alt="Command Mac">
                                    </div>
                                    <div class="colInner">
                                    <div class="stats_block_upper">
                                            <div class="stats_date">December 2022</div>
                                            <div class="stats_number">-7.9%</div>
                                    </div>
                                    <div class="stats_block_lower">
                                            <p class="stats_name">CDPQ return</p>
                                    </div>
                                    </div>
    
                                    </div>
                                </div>
                        </div>
    
                        <div class="column stats_block">
                            <div class="stats_block_inner">
                                <div class="rowInner">
                                <div class="stats_icon_main col-auto">
                                    <img src="img/target-scope.svg" class="stats_icon_v1" alt="CDPQ Return" />
                                    <img src="./img/Command-Mac-v3.svg" class="stats_icon_v3" alt="Target Scope">
                                    <img src="img/Circle-Check-v4.svg" class="stats_icon_v4" alt="Circle Check">
                                </div>
                                <div class="colInner">
                                <div class="stats_block_upper">
                                        <div class="stats_date">December 2022</div>
                                        <div class="stats_number">-7.9%</div>
                                </div>
                                <div class="stats_block_lower">
                                        <p class="stats_name">CDPQ return</p>
                                </div>
                                </div>
    
                                </div>
                            </div>
                    </div>
                    
    
                    <div class="column stats_block">
                        <div class="stats_block_inner">
                            <div class="rowInner">
                            <div class="stats_icon_main col-auto">
                                <img src="img/command-mac.svg" class="stats_icon_v1" alt="CDPQ Return" />
                                <img src="img/Circle-Check-v3.svg" class="stats_icon_v3" alt="Target Scope">
                                <img src="img/Command-Mac-v4.svg" class="stats_icon_v4" alt="Command Mac">
                            </div>
                            <div class="colInner">
                            <div class="stats_block_upper">
                                    <div class="stats_date">December 2022</div>
                                    <div class="stats_number">-7.9%</div>
                            </div>
                            <div class="stats_block_lower">
                                    <p class="stats_name">CDPQ return</p>
                            </div>
                            </div>
    
                            </div>
                        </div>
                </div>
                
    
                <div class="column stats_block">
                    <div class="stats_block_inner">
                        <div class="rowInner">
                        <div class="stats_icon_main col-auto">
                            <img src="img/circle-check.svg" class="stats_icon_v1" alt="CDPQ Return" />
                            <img src="img/Star-v3.svg" class="stats_icon_v3" alt="Target Scope">
                            <img src="img/Command-Mac-v4.svg" class="stats_icon_v4" alt="Command Mac">
                        </div>
                        <div class="colInner">
                        <div class="stats_block_upper">
                                <div class="stats_date">December 2022</div>
                                <div class="stats_number">-7.9%</div>
                        </div>
                        <div class="stats_block_lower">
                                <p class="stats_name">CDPQ return</p>
                        </div>
                        </div>
    
                        </div>
                    </div>
            </div>
            
    
            <div class="column stats_block">
                <div class="stats_block_inner">
                    <div class="rowInner">
                    <div class="stats_icon_main col-auto">
                        <img src="img/expand-shape.svg" class="stats_icon_v1" alt="CDPQ Return" />
                        <img src="img/Target-Scope-v3.svg" class="stats_icon_v3" alt="Target Scope">
                        <img src="img/Command-Mac-v4.svg" class="stats_icon_v4" alt="Command Mac">
                    </div>
                    <div class="colInner">
                    <div class="stats_block_upper">
                            <div class="stats_date">December 2022</div>
                            <div class="stats_number">-7.9%</div>
                    </div>
                    <div class="stats_block_lower">
                            <p class="stats_name">CDPQ return</p>
                    </div>
                    </div>
    
                    </div>
                </div>
        </div>
        
    
        <div class="column stats_block">
            <div class="stats_block_inner">
                <div class="rowInner">
                <div class="stats_icon_main col-auto">
                    <img src="img/list-box.svg" class="stats_icon_v1" alt="CDPQ Return" />
                    <img src="img/Target-Scope-v3.svg" class="stats_icon_v3" alt="Target Scope">
                    <img src="img/Command-Mac-v4.svg" class="stats_icon_v4" alt="Command Mac">
                </div>
                <div class="colInner">
                <div class="stats_block_upper">
                        <div class="stats_date">December 2022</div>
                        <div class="stats_number">-7.9%</div>
                </div>
                <div class="stats_block_lower">
                        <p class="stats_name">CDPQ return</p>
                </div>
                </div>
    
                </div>
            </div>
    </div>
    
                        
                    </div>
                </div>
            </div>
        </section>

        <!-- end stats v2 -->

        <!-- stats v3 -->
        <section class="wrapper stats_wrapper stats-V3">
            <div class="sm_container">
                <div class="stats_header">
                    <h2 class="stats_header_heading">Data Infographic V3</h2>
                    <p>As a global investor, we believe performance and purpose go hand in hand. We want to make sure the investments we make create a better world, not just for our members and our partners, but for everyone.</p>
                    <a href="#" class="stats_link" aria-label="Click here to learn more about our impact">Learn more about our impact<span class="arrow_right"><img src="img/arrow-right.svg" alt="Arrow Right" /></span></a>
                </div>
    
                <div class="stats ">
                    <div class="custom_row">
                        <div class="column stats_block">
                                <div class="stats_block_inner">
                                    <div class="rowInner">
                                    <div class="stats_icon_main col-auto">
                                        <img src="img/target-scope.svg" class="stats_icon_v1" alt="CDPQ Return" />
                                        <img src="img/Target-Scope-v3.svg" class="stats_icon_v3" alt="Target Scope">
                                        <img src="img/Command-Mac-v4.svg" class="stats_icon_v4" alt="Command Mac">
                                    </div>
                                    <div class="colInner">
                                    <div class="stats_block_upper">
                                            <div class="stats_date">December 2022</div>
                                            <div class="stats_number">-7.9%</div>
                                    </div>
                                    <div class="stats_block_lower">
                                            <p class="stats_name">CDPQ return</p>
                                    </div>
                                    </div>
    
                                    </div>
                                </div>
                        </div>
    
                        <div class="column stats_block">
                            <div class="stats_block_inner">
                                <div class="rowInner">
                                <div class="stats_icon_main col-auto">
                                    <img src="img/target-scope.svg" class="stats_icon_v1" alt="CDPQ Return" />
                                    <img src="./img/Command-Mac-v3.svg" class="stats_icon_v3" alt="Target Scope">
                                    <img src="img/Circle-Check-v4.svg" class="stats_icon_v4" alt="Circle Check">
                                </div>
                                <div class="colInner">
                                <div class="stats_block_upper">
                                        <div class="stats_date">December 2022</div>
                                        <div class="stats_number">-7.9%</div>
                                </div>
                                <div class="stats_block_lower">
                                        <p class="stats_name">CDPQ return</p>
                                </div>
                                </div>
    
                                </div>
                            </div>
                    </div>
                    
    
                    <div class="column stats_block">
                        <div class="stats_block_inner">
                            <div class="rowInner">
                            <div class="stats_icon_main col-auto">
                                <img src="img/command-mac.svg" class="stats_icon_v1" alt="CDPQ Return" />
                                <img src="img/Circle-Check-v3.svg" class="stats_icon_v3" alt="Target Scope">
                                <img src="img/Command-Mac-v4.svg" class="stats_icon_v4" alt="Command Mac">
                            </div>
                            <div class="colInner">
                            <div class="stats_block_upper">
                                    <div class="stats_date">December 2022</div>
                                    <div class="stats_number">-7.9%</div>
                            </div>
                            <div class="stats_block_lower">
                                    <p class="stats_name">CDPQ return</p>
                            </div>
                            </div>
    
                            </div>
                        </div>
                </div>
                
    
                <div class="column stats_block">
                    <div class="stats_block_inner">
                        <div class="rowInner">
                        <div class="stats_icon_main col-auto">
                            <img src="img/circle-check.svg" class="stats_icon_v1" alt="CDPQ Return" />
                            <img src="img/Star-v3.svg" class="stats_icon_v3" alt="Target Scope">
                            <img src="img/Command-Mac-v4.svg" class="stats_icon_v4" alt="Command Mac">
                        </div>
                        <div class="colInner">
                        <div class="stats_block_upper">
                                <div class="stats_date">December 2022</div>
                                <div class="stats_number">-7.9%</div>
                        </div>
                        <div class="stats_block_lower">
                                <p class="stats_name">CDPQ return</p>
                        </div>
                        </div>
    
                        </div>
                    </div>
            </div>
            
    
            <div class="column stats_block">
                <div class="stats_block_inner">
                    <div class="rowInner">
                    <div class="stats_icon_main col-auto">
                        <img src="img/expand-shape.svg" class="stats_icon_v1" alt="CDPQ Return" />
                        <img src="img/Target-Scope-v3.svg" class="stats_icon_v3" alt="Target Scope">
                        <img src="img/Command-Mac-v4.svg" class="stats_icon_v4" alt="Command Mac">
                    </div>
                    <div class="colInner">
                    <div class="stats_block_upper">
                            <div class="stats_date">December 2022</div>
                            <div class="stats_number">-7.9%</div>
                    </div>
                    <div class="stats_block_lower">
                            <p class="stats_name">CDPQ return</p>
                    </div>
                    </div>
    
                    </div>
                </div>
        </div>
        
    
        <div class="column stats_block">
            <div class="stats_block_inner">
                <div class="rowInner">
                <div class="stats_icon_main col-auto">
                    <img src="img/list-box.svg" class="stats_icon_v1" alt="CDPQ Return" />
                    <img src="img/Target-Scope-v3.svg" class="stats_icon_v3" alt="Target Scope">
                    <img src="img/Command-Mac-v4.svg" class="stats_icon_v4" alt="Command Mac">
                </div>
                <div class="colInner">
                <div class="stats_block_upper">
                        <div class="stats_date">December 2022</div>
                        <div class="stats_number">-7.9%</div>
                </div>
                <div class="stats_block_lower">
                        <p class="stats_name">CDPQ return</p>
                </div>
                </div>
    
                </div>
            </div>
    </div>
    
                        
                    </div>
                </div>
            </div>
        </section>

        <!-- end stats v3 -->
        <!-- stats v4 -->
      <section class="wrapper stats_wrapper stats-V4">
          <div class="sm_container">
              <div class="stats_header">
                  <h2 class="stats_header_heading">Data Infographic V4</h2>
                  <p>As a global investor, we believe performance and purpose go hand in hand. We want to make sure the investments we make create a better world, not just for our members and our partners, but for everyone.</p>
                  <a href="#" class="stats_link" aria-label="Click here to learn more about our impact">Learn more about our impact<span class="arrow_right"><img src="img/arrow-right.svg" alt="Arrow Right" /></span></a>
              </div>

              <div class="stats ">
                  <div class="custom_row">
                      <div class="column stats_block">
                            <div class="stats_block_inner">
                                <div class="rowInner">
                                <div class="stats_icon_main col-auto">
                                    <img src="img/target-scope.svg" class="stats_icon_v1" alt="CDPQ Return" />
                                    <img src="img/Target-Scope-v3.svg" class="stats_icon_v3" alt="Target Scope">
                                    <img src="img/Command-Mac-v4.svg" class="stats_icon_v4" alt="Command Mac">
                                </div>
                                <div class="colInner">
                                <div class="stats_block_upper">
                                        <div class="stats_date">December 2022</div>
                                        <div class="stats_number">-7.9%</div>
                                </div>
                                <div class="stats_block_lower">
                                        <p class="stats_name">CDPQ return</p>
                                </div>
                                </div>

                                </div>
                            </div>
                      </div>

                      <div class="column stats_block">
                        <div class="stats_block_inner">
                            <div class="rowInner">
                            <div class="stats_icon_main col-auto">
                                <img src="img/target-scope.svg" class="stats_icon_v1" alt="CDPQ Return" />
                                <img src="./img/Command-Mac-v3.svg" class="stats_icon_v3" alt="Target Scope">
                                <img src="img/Circle-Check-v4.svg" class="stats_icon_v4" alt="Circle Check">
                            </div>
                            <div class="colInner">
                            <div class="stats_block_upper">
                                    <div class="stats_date">December 2022</div>
                                    <div class="stats_number">-7.9%</div>
                            </div>
                            <div class="stats_block_lower">
                                    <p class="stats_name">CDPQ return</p>
                            </div>
                            </div>

                            </div>
                        </div>
                  </div>
                  

                  <div class="column stats_block">
                    <div class="stats_block_inner">
                        <div class="rowInner">
                        <div class="stats_icon_main col-auto">
                            <img src="img/command-mac.svg" class="stats_icon_v1" alt="CDPQ Return" />
                            <img src="img/Circle-Check-v3.svg" class="stats_icon_v3" alt="Target Scope">
                            <img src="img/Command-Mac-v4.svg" class="stats_icon_v4" alt="Command Mac">
                        </div>
                        <div class="colInner">
                        <div class="stats_block_upper">
                                <div class="stats_date">December 2022</div>
                                <div class="stats_number">-7.9%</div>
                        </div>
                        <div class="stats_block_lower">
                                <p class="stats_name">CDPQ return</p>
                        </div>
                        </div>

                        </div>
                    </div>
              </div>
              

              <div class="column stats_block">
                <div class="stats_block_inner">
                    <div class="rowInner">
                    <div class="stats_icon_main col-auto">
                        <img src="img/circle-check.svg" class="stats_icon_v1" alt="CDPQ Return" />
                        <img src="img/Star-v3.svg" class="stats_icon_v3" alt="Target Scope">
                        <img src="img/Command-Mac-v4.svg" class="stats_icon_v4" alt="Command Mac">
                    </div>
                    <div class="colInner">
                    <div class="stats_block_upper">
                            <div class="stats_date">December 2022</div>
                            <div class="stats_number">-7.9%</div>
                    </div>
                    <div class="stats_block_lower">
                            <p class="stats_name">CDPQ return</p>
                    </div>
                    </div>

                    </div>
                </div>
          </div>
          

          <div class="column stats_block">
            <div class="stats_block_inner">
                <div class="rowInner">
                <div class="stats_icon_main col-auto">
                    <img src="img/expand-shape.svg" class="stats_icon_v1" alt="CDPQ Return" />
                    <img src="img/Target-Scope-v3.svg" class="stats_icon_v3" alt="Target Scope">
                    <img src="img/Command-Mac-v4.svg" class="stats_icon_v4" alt="Command Mac">
                </div>
                <div class="colInner">
                <div class="stats_block_upper">
                        <div class="stats_date">December 2022</div>
                        <div class="stats_number">-7.9%</div>
                </div>
                <div class="stats_block_lower">
                        <p class="stats_name">CDPQ return</p>
                </div>
                </div>

                </div>
            </div>
      </div>
      

      <div class="column stats_block">
        <div class="stats_block_inner">
            <div class="rowInner">
            <div class="stats_icon_main col-auto">
                <img src="img/list-box.svg" class="stats_icon_v1" alt="CDPQ Return" />
                <img src="img/Target-Scope-v3.svg" class="stats_icon_v3" alt="Target Scope">
                <img src="img/Command-Mac-v4.svg" class="stats_icon_v4" alt="Command Mac">
            </div>
            <div class="colInner">
            <div class="stats_block_upper">
                    <div class="stats_date">December 2022</div>
                    <div class="stats_number">-7.9%</div>
            </div>
            <div class="stats_block_lower">
                    <p class="stats_name">CDPQ return</p>
            </div>
            </div>

            </div>
        </div>
  </div>
  
                      
                  </div>
              </div>
          </div>
      </section>

      <!-- stats v4 -->
    </body>
</html>