<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/fonts.css" type="text/css">
    <link rel="stylesheet" href="css/freeforms.css" type="text/css">
    <link rel="stylesheet" href="css/common.css" type="text/css">
    <link rel="stylesheet" href="css/video-popup.css" type="text/css">
    <title>OTTP - FreeForm Component</title>
</head>
<body>
    <!-- Featured Report Section Starts here-->
    <section id="featured_report" class="wrapper featuredReport globalSection">
            <div class="sm_container">
                <div class="globalHeading text-center">
                    <h2 aria-label="Featured Report">Featured report</h2>
                </div>
                <div class="videoSection">
                    <div class="videoImagePanel">
                        <img src="images/bussiness-meeting.jpg" alt="An image of Bussiness Meeting">
                        <div class="playIcon -video-link"><a href="https://www.youtube.com/embed/rSvI3kvnGa0" aria-label="Click on icon for play video"><img src="images/Play.svg" alt="Play Icon"></a></div>
                    </div>
                    <div class="videoDescriptionPanel text-center">
                        <h3>Building better businesses and a better world</h3>
                        <p>We don’t just invest to make a return; we invest to make a mark. <br/>
                            Across our portfolio we help businesses become more profitable and sustainable.</p>
                            <p><a href="#" aria-label="Learn more how we servce teachers">Learn more how we servce teachers <img src="images/Arrow-Right.svg" alt="Arrow Right"></a></p>
                    </div>
                </div>
        </div>
            <!--Video Popup starts Here-->
    <div class="video_lightbox" style="display: none;">
      <div class="video_lightbox_overlay" style="display: block;">
      </div>
      <div class="video_lightbox_table_view">
        <div class="video_lightbox_cell_view">
          <div class="video_lightbox_inner">
            <a href="javascript:void(0)" class="video_lightbox_close" aria-label="close lightbox">
              ×
            </a>
            <iframe class="video_lightbox_frame" src="" allowfullscreen="" title="Video lightbox frame">
            </iframe>
          </div>
        </div>
      </div>
    </div>
    </section>

<!-- Section Two Starts Here-->
      <section id="video_section" class="videoSection globalSection wrapper">
        <div class="sm_container">
            <div class="innerInfo">
                <div class="mainInfoPanel">
                    <div class="infoPanel text-left">
                        <h2>Not just <br/>
                            another lorem brand</h2>
                        <p>We urge all investors to conduct their own evaluations of these issues and to arrive Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    </div>
                    <div class="videoImagePanel">
                        <img src="images/confrenceMeeting.jpg" alt="An image of Bussiness Meeting">
                        <div class="playIcon -video-link"><a href="https://www.youtube.com/embed/rSvI3kvnGa0" aria-label="Click on icon for play video"><img src="images/Play.svg" alt="Play Icon"></a></div>
                    </div>
                </div>
                
                
            </div>
    </div>
    <div class="video_lightbox" style="display: none;">
      <div class="video_lightbox_overlay" style="display: block;">
      </div>
      <div class="video_lightbox_table_view">
        <div class="video_lightbox_cell_view">
          <div class="video_lightbox_inner">
            <a href="javascript:void(0)" class="video_lightbox_close" aria-label="close lightbox">
              ×
            </a>
            <iframe class="video_lightbox_frame" src="" allowfullscreen="" title="Video lightbox frame">
            </iframe>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- Section Two Starts Here-->
<section id="video_sectiontwo" class="videoSection videoSectionTwo swap  globalSection wrapper ">
  <div class="sm_container">
      <div class="innerInfo">
          <div class="mainInfoPanel skyBlue">
              <div class="infoPanel text-left">
                  <h2>Not just <br/>
                      another lorem brand</h2>
                  <p>We urge all investors to conduct their own evaluations of these issues and to arrive Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
              </div>
              <div class="videoImagePanel">
                  <img src="images/confrenceMeeting.jpg" alt="An image of Bussiness Meeting">
                  <div class="playIcon -video-link"><a href="https://www.youtube.com/embed/rSvI3kvnGa0" aria-label="Click on icon for play video"><img src="images/Play.svg" alt="Play Icon"></a></div>
              </div>
          </div>
          
          
      </div>
</div>
<div class="video_lightbox" style="display: none;">
<div class="video_lightbox_overlay" style="display: block;">
</div>
<div class="video_lightbox_table_view">
  <div class="video_lightbox_cell_view">
    <div class="video_lightbox_inner">
      <a href="javascript:void(0)" class="video_lightbox_close" aria-label="close lightbox">
        ×
      </a>
      <iframe class="video_lightbox_frame" src="" allowfullscreen="" title="Video lightbox frame">
      </iframe>
    </div>
  </div>
</div>
</div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="js/video-popup.js"></script>
</body>
</html>