<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/freeforms.css" type="text/css">
    <link rel="stylesheet" href="css/common-style.css" type="text/css">
    <link rel="stylesheet" href="css/video-popup.css" type="text/css">
    <title>OTTP - FreeForm Component</title>
</head>
<body>
<!-- Featured Report Section Starts here-->
<section class="globalSection wrapper featuredReport">
        <div class="sm_container">
            <div class="globalHeading textCenter">
                <h2 aria-label="Featured Report">Featured report</h2>
            </div>
            <div class="videoSection">
                <div class="videoImagePanel">
                    <img src="images/bussiness-meeting.jpg" alt="An image of Bussiness Meeting">
                    <div class="playIcon -video-link"><a href="https://www.youtube.com/embed/rSvI3kvnGa0" aria-label="Click on icon for play video"><img src="images/Play.svg" alt="Play Icon"></a></div>
                </div>
                <div class="videoDescriptionPanel textCenter">
                    <h3>Building better businesses and a better world</h3>
                    <p>We don’t just invest to make a return; we invest to make a mark. <br/>
                        Across our portfolio we help businesses become more profitable and sustainable.</p>
                        <p><a href="#" aria-label="Learn more how we servce teachers" class="customLink">Learn more how we servce teachers <span class="arrow_right"><img src="images/Arrow-Right.svg" alt="Arrow Right"></span></a></p>
                </div>
            </div>
    </div>

</section>

<!-- Section Two Starts Here-->
<section class="globalSection videoSection video_section  wrapper">
<div class="sm_container">
    <div class="innerInfo">
        <div class="mainInfoPanel">
            <div class="infoPanel">
                <h2>Not just <br/>
                    another lorem brand</h2>
                <p>We urge all investors to conduct their own evaluations of these issues and to arrive Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <div class="videoImagePanel">
                <img src="images/confrenceMeeting.jpg" alt="An image of Bussiness Meeting">
                <div class="playIcon -video-link"><a href="https://www.youtube.com/embed/rSvI3kvnGa0" aria-label="Click on icon for play video"><img src="images/Play.svg" alt="Play Icon"></a></div>
            </div>
        </div>
    </div>
</div>
</section>

<!-- Section Two Starts Here-->
<section  class="wrapper globalSection  videoSection video_sectiontwo videoSectionTwo">
  <div class="sm_container">
      <div class="innerInfo">
          <div class="mainInfoPanel skyBlue">
              <div class="infoPanel">
                  <h2>Not just <br/>
                      another lorem brand</h2>
                  <p>We urge all investors to conduct their own evaluations of these issues and to arrive Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
              </div>
              <div class="videoImagePanel">
                  <img src="images/confrenceMeeting.jpg" alt="An image of Bussiness Meeting">
                  <div class="playIcon -video-link"><a href="https://www.youtube.com/embed/rSvI3kvnGa0" aria-label="Click on icon for play video"><img src="images/Play.svg" alt="Play Icon"></a></div>
              </div>
          </div>
          
          
      </div>
</div>
</section>

<section class="wrapper freeformAsidePanel globalSection">
    <div class="sm_container">
        <div class="freeforInnerPanel">
            <div class="ffAsideDescriptionPanel">
                <h2>This is an H3 title that can span one or two lines</h2>
                <p>Duis imperdiet at nisi non cursus. Sed dignissim massa sit amet lobortis faucibus. Maecenas dictum elementum dui non laoreet. Integer mattis purus et turpis aliquam, eu porttitor leo vehicula. </p>
                    <p><a href="#" aria-label="Learn more" class="customLink">Learn more<span class="arrow_right"><img src="images/Arrow-Right.svg" alt="Arrow Right"></span></a></p>
            </div>
            <div class="ffAsideImagePanel">
                <div class="ffAsideLeftPanel">
                    <div class="deskTopImage">
                        <img src="images/greenery.jpg" alt="Green Field">
                    </div>
                    <div class="mobileImage">
                        <img src="images/greeneryMob.jpg" alt="Green Field">
                    </div>
                </div>
                <div class="headingBlock">
                    <div class="leftPanel">
                        <div class="hedaingsec">
                            <h4>Strong, steady returns for 30 years</h4>
                        </div>
                    </div>
                    <div class="rightPanel"> <p>Duis imperdiet at nisi non cursus. Sed dignissim massa sit amet lobortis faucibus. Maecenas dictum elementum dui non laoreet. Integer mattis purus et turpis aliquam, eu porttitor leo vehicula. </p>
                        <p><a href="#" aria-label="Learn more" class="customLink">Learn more<span class="arrow_right"><img src="images/Arrow-Right.svg" alt="Arrow Right"></span></a></p></div>
                </div>
            </div>
        </div>
        <div class="ffAsideInner ffAsideInnerTwo">
            <div class="headingBlock row directionReverse">
                <div class="leftPanel">
                    <div class="hedaingsec">
                        <p>As a global investor, we believe performance and purpose go hand in hand. We want to make sure the investments we make create a better world, not just for our members and our partners, but for everyone.</p>
                        <div class="borderPanel">
                            <h5 class="h5">Strong, steady returns for 30 years</h5>
                            <p>Industrial processes (e.g., steel, refining, methanol, ammonia)</p>
                        </div>
                    </div>
                </div>
                <div class="rightPanel">
                    <div class="pb30">
                        <img src="images/working-on-laptop.jpg" alt="An Image of men working on tablet">
                    </div>
                    <h3>A purpose beyond returns</h3>
                    <p>Duis imperdiet at nisi non cursus. Sed dignissim massa sit amet lobortis faucibus. Maecenas dictum elementum dui non laoreet. Integer mattis purus et turpis aliquam, eu porttitor leo vehicula. </p>
                    
                    <p><a href="#" aria-label="Learn more" class="customLink">Learn more<span class="arrow_right"><img src="images/Arrow-Right.svg" alt="Arrow Right"></span></a></p></div>
            </div>
        </div>

</div>
</section>
 <!-- Featured Report Section Starts here-->
 <section class="wrapper typegraphySection globalSection">
    <div class="sm_container">
        <div class="typographyPanel">
            <div class="typographyInnerSection">
                <div class="typeLeftPanel">
                    <div class="leftTypePanel">
                        <div class="typeImagePanel">
                                <div class="desktopImage">
                                    <img src="images/road.jpg" alt="An image of Highway Road">
                                </div>
                                <div class="mobileImage">
                                    <img src="images/laptopMob.jpg" alt="An image of Highway Road">
                                </div>
                                <h5 class="heading5">Heading Five - H5</h5>
                                <p>Industrial processes (e.g., steel, refining, methanol, ammonia)</p>
                            </div>
                            <div class="typeImagePanel">
                                <div class="desktopImage">
                                    <img src="images/workonlaptop.jpg" alt="An image of men working on laptop">
                                </div>
                                <div class="mobileImage">
                                    <img src="images/roadMob.jpg" alt="An image of men working on laptop">
                                </div>
                                <h5 class="heading5">Heading Five - H5</h5>
                                <p>Industrial processes (e.g., steel, refining, methanol, ammonia)</p>
                            </div>
                        </div>
                    </div>
                <div class="typeRightPanel">
                    <div class="typoDescPanel">
                        <div class="topTypoPanel">
                            <h2>Interested in how we vote?</h2>
                            <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum maximus magna ac tempor. Quisque varius eu diam ac accumsan. Proin varius odio quis dolor eleifend semper at in lacus. plan and others. We urge all investors to conduct their own evaluations of these issues and to arrive at decisions that best meet their own investment objectives. </strong></p>
                            <p>We urge all investors to conduct their own evaluations of these issues and to arrive Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum maximus magna ac tempor. <a href="#" class="blueLink">LInk here </a>varius eu diam ac accumsan. Proin varius odio quis dolor eleifend semper at in lacus. plan and others. at decisions that best meet their own investment objectives. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum maximus magna ac tempor.</p>
                        </div>
                        <div class="typoHeadingsPanel">
                            <div class="headingGlobal mb24">
                                <h1>Heading One - H1</h1>
                                <p>This section of the site shows how we intend to vote our proxies in response to solicitations by either the management of the companies in which we own voting shares, or others. It is intended only to provide</p>
                            </div>

                            <div class="headingGlobal">
                                <h2>Heading Two - H2</h2>
                                <p>This section of the site shows how we intend to vote our proxies in response to solicitations by either the management of the companies in which we own voting shares, or others. It is intended only to provide</p>
                            </div>

                            <div class="headingGlobal">
                                <h3>Heading Three - H3</h3>
                                <p>This section of the site shows how we intend to vote our proxies in response to solicitations by either the management of the companies in which we own voting shares, or others. It is intended only to provide</p>
                            </div>

                            <div class="headingGlobal">
                                <h4>Heading Four - H4</h4>
                                <p>This section of the site shows how we intend to vote our proxies in response to solicitations by either the management of the companies in which we own voting shares, or others. It is intended only to provide</p>
                            </div>
                            <div class="headingGlobal">
                                <h5>Heading Five - H5</h5>
                                <p>This section of the site shows how we intend to vote our proxies in response to solicitations by either the management of the companies in which we own voting shares, or others. It is intended only to provide</p>
                            </div>
                        </div>
                        <div class="listPanel">
                            <ul>
                                <li><strong>Step1 :</strong> Sed vestibulum maximus magna ac tempor</li>
                                <li><strong>Step2 :</strong> Lorem ipsum, consectetur adipiscing elit.</li>
                                <li><strong>Step3 :</strong> Dolor sit amet, consectetur adipiscing elit. Sed vestibulum maximus magna ac tempor aliquam elit.</li>
                                <li><strong>Step4 :</strong>Sed vestibulum maximus magna ac tempor</li>
                            </ul>
                            <p>This section of the site shows how we intend to vote our proxies in response to solicitations by either the management of the companies in which we own voting shares, or others. It is intended only to provide information to plan members, co-sponsors of the plan and others. We urge all investors to conduct their own evaluations of these issues and to arrive at decisions that best meet their own investment objectives. By providing our decisions on this site, we do not intend to solicit the proxy of any other shareholders nor do we request any other shareholders to execute, not execute or revoke the proxies that have by solicited by management or anyone else.</p>
                            <p>View <a href="#" class="blueLink">Proxy Voting Database*</a></p> 
                                
                                <p>*By clicking this link you will be leaving the Ontario Teachers' Pension Plan site and going to a third-party site. That site may have legal and privacy policies that are different from those of the Ontario Teachers' Pension Plan. The Ontario Teachers' Pension Plan assumes no liability or responsibility for the content, accuracy, operation or failure to operate, or any material contained or linked on the third-party website.</p>
                        </div>
                    </div>
                   </div>
            </div>
        </div>

</div>
</section>
<section class="wrapper growth globalSection">
    <div class="sm_container">
        <div class="growthDescPanel">
            <h2>Net asset growth (%)</h2>
            <p>This is an H3 title that can span one or two lines lorem ipsum dolor Duis imperdiet at nisi non cursus. Sed dignissim massa sit amet lobortis faucibus. Maecenas dictum elementum dui non laoreet. Integer mattis purus et turpis aliquam, eu porttitor leo vehicula.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum maximus magna ac tempor. Quisque varius eu diam ac accumsan. Proin varius odio quis dolor eleifend semper at in lacus. Suspendisse eu massa iaculis, imperdiet mauris scelerisque, dignissim nulla. Curabitur dignissim lorem a augue ullamcorper, sit amet fermentum ipsum fringilla. Proin vehicula euismod ex nec pretium. Etiam lacinia est nec massa sollicitudin.</p>
        </div>
        <div class="growthTable">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Return type</th>
                    <th scope="col">2020</th>
                    <th scope="col">2019</th>
                    <th scope="col">4 Years</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Total-fund net return</th>
                    <td>8.6</td>
                    <td>7.6</td>
                    <td>8.6</td>
                  </tr>
                  <tr>
                    <th scope="row">benchmark return</th>
                    <td>10.7</td>
                    <td>12.4</td>
                    <td>9.1</td>
                  </tr>
                  <tr>
                    <th scope="row">Made-up return1</th>
                    <td>8.6</td>
                    <td>7.6</td>
                    <td>8.6</td>
                  </tr>
                  <tr>
                    <th scope="row">Total</th>
                    <td>23.9</td>
                    <td>12.4</td>
                    <td>9.1</td>
                  </tr>

                </tbody>
              </table>
              <p>This is a footnote, if needed.</p>
        </div>
</div>
</section>
<!--Video Popup starts Here-->
<div class="video_lightbox">
    <div class="video_lightbox_overlay">
    </div>
    <div class="video_lightbox_table_view">
    <div class="video_lightbox_cell_view">
        <div class="video_lightbox_inner">
        <a href="javascript:void(0)" class="video_lightbox_close" aria-label="close lightbox">
            ×
        </a>
        <iframe class="video_lightbox_frame" src="" allowfullscreen="" title="Video lightbox frame">
        </iframe>
        </div>
    </div>
    </div>
</div>
<script src="../Assets/js/jquery.min.js"></script>
<script type="text/javascript" src="js/video-popup.js"></script>
</body>
</html>