<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/fonts.css" />
        <link rel="stylesheet" href="css/slick.css" />
        <link rel="stylesheet" href="css/common.css" />
        <link rel="stylesheet" href="css/content.css" />
        <title>Content</title>
    </head>

    <body>
        <section class="wrapper content_wrapper">
            <div class="sm_container">
                <div class="content_heading">
                    <div class="content_subtext">NEWS & THOUGHT LEADERSHIP</div>
                    <h2>A spotlight on investments</h2>
                </div>

                <div class="content_cards_wrapper">
                    <div class="cardslider card_box">
                        <div class="card_slide">
                            <div class="custom_card">
                                <div class="card_img">
                                    <img
                                        class="card_img_top"
                                        src="images/card-image1.jpg"
                                        alt="Card image"
                                    />
                                </div>
                                <div class="card_body">
                                    <div class="card_type">PRIVATE CAPITAL</div>
                                    <h3 class="card_title">
                                        Evoltz: Powering Brazil’s electric grid
                                    </h3>
                                    <div class="card_text">
                                        March 31, 2021 <span></span> 2 min read
                                    </div>
                                    <div class="card_btn">
                                        <a href="#" class="stats_link"
                                            >Learn more
                                            <span class="arrow_right">
                                                <img
                                                    src="images/arrow-right.svg"
                                                    alt="arrow right" /></span
                                        ></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card_slide">
                            <div class="custom_card">
                                <div class="card_img">
                                    <img
                                        class="card_img_top"
                                        src="images/card-image2.jpg"
                                        alt="Card image"
                                    />
                                </div>
                                <div class="card_body">
                                    <div class="card_type">PRIVATE CAPITAL</div>
                                    <h3 class="card_title">
                                        2020: Strong results in an uncertain
                                        year
                                    </h3>
                                    <div class="card_text">
                                        March 31, 2021 <span></span> 2 min read
                                    </div>
                                    <div class="card_btn">
                                        <a href="#" class="stats_link"
                                            >Learn more
                                            <span class="arrow_right">
                                                <img
                                                    src="images/arrow-right.svg"
                                                    alt="arrow right" /></span
                                        ></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card_slide">
                            <div class="custom_card">
                                <div class="card_img">
                                    <img
                                        class="card_img_top"
                                        src="images/card-image3.jpg"
                                        alt="Card image"
                                    />
                                </div>
                                <div class="card_body">
                                    <div class="card_type">PRIVATE CAPITAL</div>
                                    <h3 class="card_title">
                                        <a href="#"
                                            >World Economic Forum: Jo Taylor on
                                            the windy road to net zero</a
                                        >
                                    </h3>
                                    <div class="card_text">
                                        March 31, 2021 <span></span> 2 min read
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card_slide">
                            <div class="custom_card">
                                <div class="card_img">
                                    <img
                                        class="card_img_top"
                                        src="images/card-image3.jpg"
                                        alt="Card image"
                                    />
                                </div>
                                <div class="card_body">
                                    <div class="card_type">PRIVATE CAPITAL</div>
                                    <h3 class="card_title">
                                        <a href="#"
                                            >World Economic Forum: Jo Taylor on
                                            the windy road to net zero</a
                                        >
                                    </h3>
                                    <div class="card_text">
                                        March 31, 2021 <span></span> 2 min read
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card_slider_navigation">
                        <button class="card_arrow_prev">prev</button>
                        <div class="slick-slider-dots"></div>
                        <button class="card_arrow_next">next</button>
                    </div>
                </div>

                <div class="content_explore_news">
                    <a href="#" class="content_explore_btn">Explore our news</a>
                </div>
            </div>
        </section>
        <script src="js/jquery-3.6.1.min.js"></script>
        <script src="js/slick.js"></script>
        <script src="js/content-custom.js"></script>
    </body>
</html>
