@import '../../Assets/scss/globalvariables';

.header_wrapper {
    background-color: $brand_color;
    .header_wrapper_section {
        .header_wrapper_descripion {
            padding: 45px;
            @include media-screen-breakpoint-up(xxl) {
                padding: 100px 140px;
            }
            @include media-screen-breakpoint-between(md, lg) {
                padding: 40px 25px;
            }
            @include media-screen-breakpoint-down(md) {
                text-align: center;
                width: 100%;
                padding: 60px 25px;
            }
            @include media-screen-breakpoint-down(xs) {
                padding: 45px 15px;
            }
            h2 {
                font-family: $bold_font;
                font-size: 32px;
                line-height: 1.2;
                color: $white_color;
                margin: 0;
                margin-bottom: 20px;
                @include media-screen-breakpoint-up(xxl) {
                    font-size: 50px;
                }
                @include media-screen-breakpoint-between(lg, xl) {
                    font-size: 24px;
                }
                @include media-screen-breakpoint-between(md, lg) {
                    font-size: 20px;
                }
                @include media-screen-breakpoint-down(md) {
                    font-size: 32px;
                    line-height: 1.3;
                }
                @include media-screen-breakpoint-down(xs) {
                    font-size: 22px;
                }
            }
            a {
                font-family: $semibold_font;
                font-size: 16px;
                line-height: 1.6;
                color: $red_color2;
                background-color: $white_color;
                padding: 14px 29px;
                border-radius: 50px;
                border: 1px solid $white_color;
                text-decoration: none;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;
                &:hover,
                &:focus {
                    background: transparent;
                    color: $white_color;
                }
            }
            .header_wrapper_des_text {
                p {
                    font-family: $medium_font;
                    font-size: 18px;
                    line-height: 1.3;
                    color: $white_color;
                    @include media-screen-breakpoint-up(xxl) {
                        font-size: 28px;
                    }
                    @include media-screen-breakpoint-between(lg, xl) {
                        font-size: 16px;
                    }
                    @include media-screen-breakpoint-between(md, lg) {
                        font-size: 14px;
                    }
                    @include media-screen-breakpoint-down(md) {
                        line-height: 1.6;
                    }
                    @include media-screen-breakpoint-down(xs) {
                        font-size: 16px;
                    }
                }
                .header_wrapper_link {
                    margin-top: 52px;
                    margin-bottom: 13px;
                    @include media-screen-breakpoint-down(md) {
                        margin-top: 43px;
                    }
                }
            }
        }
    }
    .header_wrapper_img {
        display: none;
    }
    &.header_v1 {
        margin-top: 50px;
        .header_wrapper_section {
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            @include media-screen-breakpoint-down(md) {
                display: block;
            }
            .header_wrapper_descripion {
                width: 55.86%;
                @include media-screen-breakpoint-up(xxl) {
                    padding: 100px;
                }
                @include media-screen-breakpoint-down(md) {
                    width: 100%;
                }
                @include media-screen-breakpoint-down(xs) {
                    padding: 45px 15px;
                }
                .header_wrapper_des_text {
                    .header_wrapper_link {
                        margin-top: 40px;
                    }
                }
            }
        }
        .header_wrapper_img {
            display: block;
            width: 44.14%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;   
            @include media-screen-breakpoint-down(md) {
                width: 100%;
                background-image: none !important;
            }
            .header_desk_img{
                display: none;
            }
            .header_mob_img {
                width: 100%;
                display: none;
                @include media-screen-breakpoint-down(md) {
                    display: block;
                }
            }
        }
    }
}