<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/fonts.css" type="text/css">
  <link rel="stylesheet" href="css/glossary.css" type="text/css">
  <link rel="stylesheet" href="css/common.css" type="text/css">
  <title>OTTP - Glossary Component V2</title>
</head>

<body>
  <!--  Section Parallx 1a Starts here-->
  <section  class="wrapper glossaryIntroSection">
    <div class="sm_container">
      <div class="glossaryInfoPanel">
        <p>We urge all investors to conduct their own evaluations of these issues and to arrive Lorem ipsum dolor sit
          amet, consectetur adipiscing elit. Sed vestibulum maximus magna ac tempor. <a href="#"
            aria-label="Additionaly" class="redLink tooltip_txt "
            tooltip="This is a description tooltip for defining particular terms of content.">Additionaly</a> diam ac
          accumsan. Proin varius odio quis dolor eleifend semper at in lacus. plan and others. at decisions that best
          meet their own investment objectives. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum
          maximus magna ac tempor.</p>
      </div>
      <div class="divider"></div>
      <div class="glossarycontantBlock">
        <div class="glossaryInnerBlock">
          <h3>Glossary Version 1</h3>
          <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum maximus magna ac tempor.
              Quisque varius eu diam ac accumsan. Proin varius odio quis dolor eleifend semper at in lacus. plan and
              others. We urge all investors to conduct their own evaluations of these issues and to arrive at decisions
              that best meet their own investment objectives. </strong></p>
          <p>We urge all investors to conduct their own evaluations of these issues and to arrive Lorem ipsum dolor sit
            amet, consectetur adipiscing elit. Sed vestibulum maximus magna ac tempor. <a href="#"
              aria-label="LInk here" class="blueLink">LInk here</a> varius eu diam ac accumsan. Proin varius odio quis
            dolor eleifend semper at in lacus. plan and others. at decisions that best meet their own investment
            objectives. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum maximus magna ac tempor.
          </p>
        </div>
      </div>

      <div class="glossarycontantBlock">
        <div class="glossaryInnerBlock">
          <h3>Additionality</h3>
          <p>This section of the site shows how we intend to vote our proxies in response to solicitations by either the
            management of the companies in which we own voting shares, or others. It is intended only to provide</p>
        </div>
      </div>


      <div class="glossarycontantBlock">
        <div class="glossaryInnerBlock">
          <h3>Bilateral Trading or Agreements</h3>
          <p>This section of the site shows how we intend to vote our proxies in response to solicitations by either the
            management of the companies in which we own voting shares, or others. It is intended only to provide</p>
        </div>
      </div>


      <div class="glossarycontantBlock">
        <div class="glossaryInnerBlock">
          <h3>Capacity</h3>
          <p>This section of the site shows how we intend to vote our proxies in response to solicitations by either the
            management of the companies in which we own voting shares, or others. It is intended only to provide</p>
        </div>
      </div>
      <div class="glossarycontantBlock">
        <div class="glossaryInnerBlock">
          <h3>Renewable Power</h3>
          <p>This section of the site shows how we intend to vote our proxies in response to solicitations by either the
            management of the companies in which we own voting shares, or others. It is intended only to provide</p>
          <p>This section of the site shows how we intend to vote our proxies in response to solicitations by either the
            management of the companies in which we own voting shares, or others. It is intended only to provide
            information to plan members, co-sponsors of the plan and others. We urge all investors to conduct their own
            evaluations of these issues and to arrive at decisions that best meet their own investment objectives. By
            providing our decisions on this site, we do not intend to solicit the proxy of any other shareholders nor do
            we request any other shareholders to execute, not execute or revoke the proxies that have by solicited by
            management or anyone else.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--  Section Parallx 1a Starts here-->
  <section class="wrapper glossaryAccordianPanel">
    <div class="sm_container">
      <h3>Glossary Version 2</h3>
      <ul class="accordion-list">
        <li>
          <h3 class="panel-title">ABN</h3>
          <div class="panelCustomContent">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
            </p>
          </div>
        </li>
        <li>
          <h3 class="panel-title">Acquisition Cost</h3>
          <div class="panelCustomContent">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
            </p>
          </div>
        </li>
        <li>
          <h3 class="panel-title">Liquidity</h3>
          <div class="panelCustomContent">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
            </p>
          </div>
        </li>
      </ul>
    </div>
    </div>
  </section>
  <script src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/custom.js"></script>
</body>

</html>