@import 'globalvariables';

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    font-family: $medium_font;
    font-size: 18px;
    line-height: 1.5;
    color: $primary_color;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    word-break: normal;
    @include media-screen-breakpoint-between(md, lg) {
        font-size: 16px;
    }
    @include media-screen-breakpoint-down(xs) {
        font-size: 16px;
    }
    * {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        &:before,
        &:after {
            box-sizing: border-box;
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $primary_color;
        font-family: $bold_font;
        padding: 0;
        margin: 0;
    }
    p {
        color: $primary_color;
        padding: 0;
        margin: 0;
    }
    ul,ol {
        li {
            padding: 0;
            margin: 0;
        }
    }
    h1 {
        font-size: 50px;
        line-height: 1.2;
        @include media-screen-breakpoint-between(md, lg) {
            font-size: 40px;
        }
        @include media-screen-breakpoint-down(xs) {
            font-size: 40px;
        }
    }
    h2 {
        font-size: 38px;
        line-height: 1.2;
        @include media-screen-breakpoint-between(md, lg) {
            font-size: 32px;
        }
        @include media-screen-breakpoint-down(xs) {
            font-size: 32px;
        }
    }
    h3 {
        font-size: 32px;
        line-height: 1.2;
        @include media-screen-breakpoint-between(lg, xl) {
            font-size: 28px;
        }
        @include media-screen-breakpoint-between(md, lg) {
            font-size: 24px;
        }
        @include media-screen-breakpoint-down(xs) {
            font-size: 24px;
        }
    }
    h4 {
        font-size: 28px;
        line-height: 1.2;
        @include media-screen-breakpoint-between(md, lg) {
            font-size: 22px;
        }
        @include media-screen-breakpoint-down(xs) {
            font-size: 22px;
        }
    }
    h5 {
        font-size: 20px;
        line-height: 1.2;
        @include media-screen-breakpoint-between(md, lg) {
            font-size: 18px;
        }
        @include media-screen-breakpoint-down(xs) {
            font-size: 18px;
        }
    }
    a {
        &:hover {
            text-decoration: underline;
        }
        &:focus {
            text-decoration: underline;
            outline: 0 !important;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
    button {
        &:focus {
            outline: 0 !important;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .sm_container {
        max-width: 1292px;
        padding: 0 30px;
        margin: 0 auto;
        @include media-screen-breakpoint-down(lg) {
            padding: 0 20px;
        }
    }
    .custom_row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .column {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .customLink {
        font-family: $semibold_font;
        font-size: 16px;
        line-height: 1;
        color: $brand_color;
        transition: all 0.2s linear;
        outline: none;
        text-decoration: none;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        @include media-screen-breakpoint-between(lg, xl) {
            font-size: 15px;
        }
        @include media-screen-breakpoint-down(lg) {
            font-size: 14px;
        }
        @include media-screen-breakpoint-down(md) {
            font-size: 16px;
        }
        @include media-screen-breakpoint-down(xs) {
            font-size: 14px;
            line-height: 1.5;
        }
        &:hover,
        &:focus {
            text-decoration: underline;
            .arrow_right {
                margin-left: 15px;
            }
        }
        .arrow_right {
            margin-left: 10px;
            -webkit-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
        }
        img {
            display: block;
        }
    }
    .listPanel {
        ul {
            padding: 0 0 0 20px;
            margin: 0;
            li {
                padding-bottom: 24px;
            }
        }
    }
    @include media-screen-breakpoint-up(md) {
        .column-sm-2 {
            -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
        }
        .column-sm-3 {
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
        }
        .column-sm-4 {
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
        .column-sm-6 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
        .column-sm-7 {
            -ms-flex: 0 0 60%;
            flex: 0 0 60%;
            max-width: 60%;
        }
        .column-sm-5 {
            -ms-flex: 0 0 40%;
            flex: 0 0 40%;
            max-width: 40%;
        }
        .column-sm-8 {
            -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
        }
        .column-sm-9 {
            -ms-flex: 0 0 75%;
            flex: 0 0 75%;
            max-width: 75%;
        }
    }
    @include media-screen-breakpoint-up(lg) {
        .column-lg-3 {
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
        }
        .column-lg-4 {
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
        .column-lg-6 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
        .column-lg-8 {
            -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
        }
    }
}