@import 'globalvariables';

.table_wrapper {
    max-width: 1920px;
    margin: 0 auto;
    padding: 60px 0;
    @include media-screen-breakpoint-down(xs) {
        padding: 40px 0;
    }
    .table_header {
        margin-bottom: 60px;
        @include media-screen-breakpoint-down(xs) {
            margin-bottom: 40px;
        }
        .table_title {
            font-family: $bold_font;
            font-size: 32px;
            line-height: 1.3;
            margin-bottom: 24px;
            color: $primary_color;
            margin-top: 0;
            @include media-screen-breakpoint-between(lg, xl) {
                font-size: 28px;
            }
            @include media-screen-breakpoint-between(md, lg) {
                font-size: 24px;
            }
            @include media-screen-breakpoint-down(xs) {
                font-size: 24px;
                margin-bottom: 20px;
            }
        }
        .table_des {
            font-family: $medium_font;
            font-size: 18px;
            line-height: 1.5;
            color: $primary_color;
            margin-top: 0;
            margin-bottom: 0;
            @include media-screen-breakpoint-between(md, lg) {
                font-size: 16px;
            }
            @include media-screen-breakpoint-down(xs) {
                font-size: 16px;
            }
        }
    }
    .table_heading {
        font-family: $semibold_font;
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 20px;
        color: $primary_color;
        @include media-screen-breakpoint-between(md, lg) {
            font-size: 18px;
        }
        @include media-screen-breakpoint-down(xs) {
            font-size: 18px;
        }
    }
    .responsive_table {
        .custom_table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 0;
            background-color: transparent;
            display: table;
            text-indent: initial;
            thead {
                display: table-header-group;
                vertical-align: middle;
                border-color: inherit;
                @include media-screen-breakpoint-down(md) {
                    border: none;
                    clip: rect(0 0 0 0);
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    width: 1px;
                }
                th {
                    font-family: $bold_font;
                    vertical-align: middle;
                    display: table-cell;
                    font-size: 16px;
                    line-height: 1.2;
                    border-bottom: 0;
                    border-top: 0;
                    border-left: 0;
                    border-right: 1px solid $gray_color;
                    text-align: right;
                    padding: 20px 24px;
                    background-color: $primary_color;
                    color: $white_color;
                    width: 1%;
                    @include media-screen-breakpoint-between(md, lg) {
                        font-size: 14px;
                        padding: 16px 10px;
                    }
                    @include media-screen-breakpoint-down(xs) {
                        font-size: 14px;
                    }
                    &:first-child {
                        text-align: left;
                        border-left: 0;
                        @include media-screen-breakpoint-down(md) {
                            background-color: $lightgray_color;
                        }
                    }
                    &:last-child {
                        border-left: 0;
                        border-right: 0;
                    }
                }
            }
            tbody {
                display: table-row-group;
                vertical-align: middle;
                border-color: inherit;
                td {
                    font-family: $medium_font;
                    vertical-align: middle;
                    display: table-cell;
                    font-size: 16px;
                    line-height: 1.2;
                    border-bottom: 0;
                    border-top: 0;
                    border-left: 0;
                    border-right: 1px solid $gray_color;
                    text-align: right;
                    padding: 15px 24px 19px 24px;
                    color: $darkblue_color;
                    @include media-screen-breakpoint-between(md, lg) {
                        font-size: 14px;
                        padding: 12px 10px 16px 10px;
                    }
                    @include media-screen-breakpoint-down(md) {
                        display: block;
                        text-align: left;
                        border: 0;
                        padding: 13px 15px;
                        padding-left: calc(50% + 20px);
                        position: relative;
                        border-bottom: 1px solid $white_color;
                    }
                    @include media-screen-breakpoint-down(xs) {
                        font-size: 14px;
                        padding: 10px 15px;
                        padding-left: calc(50% + 15px);
                    }
                    @include media-screen-breakpoint-down(xxs) {
                        font-size: 13px;
                        padding: 10px 10px;
                        padding-left: calc(50% + 10px);
                    }
                    &::before {
                        @include media-screen-breakpoint-down(md) {
                            content: attr(data-label);
                            position: absolute;
                            left: 0;
                            background-color: $primary_color;
                            color: $white_color;
                            padding: 13px 20px;
                            width: 50%;
                            top: 0;
                            bottom: 0;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            font-family: $bold_font;
                            font-size: 16px;
                            line-height: 1.2;
                        }
                        @include media-screen-breakpoint-down(xs) {
                            padding: 10px 15px;
                            font-size: 14px;
                        }
                        @include media-screen-breakpoint-down(xxs) {
                            padding: 10px 10px;
                            font-size: 13px;
                        }
                    }
                    &:nth-of-type(even) {
                        @include media-screen-breakpoint-down(md) {
                            background-color: $lightgray_color;
                        }
                    }
                    &:first-child {
                        font-family: $bold_font;
                        text-align: left;
                        border-left: 0;
                        color: $primary_color;
                    }
                    &:last-child {
                        border-left: 0;
                        border-right: 0;
                        @include media-screen-breakpoint-down(md) {
                            border-bottom: 0;
                        }
                    }
                }
            }
            tr {
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                @include media-screen-breakpoint-down(md) {
                    margin-bottom: 10px;
                    display: block;
                }
                &:nth-of-type(even) {
                    background-color: $lightgray_color;
                    @include media-screen-breakpoint-down(md) {
                        background-color: transparent;
                    }
                }
            }
            &.left_aligned {
                th,
                td {
                    text-align: left;
                }
            }
        }
    }
}